@import 'common.scss';

.club {
  &-banner {
    border-radius: 20px 20px 0 0;
    margin-top: 80px;
    width: 1280px;
    height: 268px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &-tag {
    width: 1280px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    gap: 10px;
    &-item {
      padding: 10px 12px;
      border: 1px solid $gray-000;
      border-radius: 8px;
      color: $gray-000;
      margin-bottom: 60px;
    }
  }
  &-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 240px;
    margin-left: -65px;
    width: 145px;
    height: 145px;
    background-color: #fff;
    border-radius: 40px 0;
    img {
      width: 130px;
      height: 130px;
      border-radius: 40px 0;
    }
  }
  &-info {
    width: 100%;
  }
  &-content {
    width: 1280px;
    margin: 0px auto 0;
    background-color: #fff;
    padding: 40px;
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;
    gap: 60px;
    &-title {
      font-family: 'Poppins-Bold';
      font-weight: 700;
      font-size: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: $gray-900;
    }
    &-description {
      font-family: 'Poppins-Regular';
      font-size: 12px;
      line-height: 20px;
      color: $gray-900;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    &-explan {
      display: flex;
    }
    &-info {
      display: flex;
      gap: 12px;
      &-box {
        width: 73px;
        height: 54px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &-number {
        font-family: 'Poppins-Bold';
        font-size: 22px;
        line-height: 38px;
        color: $gray-900;
      }
      &-title {
        font-family: 'Poppins-Regular';
        font-size: 13px;
        line-height: 16px;
        color: #999999;
      }
    }
  }
  &-meun {
    display: flex;
    gap: 32px;
    width: 1280px;
    margin: 0 auto;
    &-item {
      height: 52px;
      font-family: 'Poppins-Medium';
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray-400;
      cursor: pointer;
      &.active {
        color: $color-primary;
        border-bottom: 4px solid $color-primary;
      }
    }
  }
  &-icon-btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    min-width: 240px;
    .item {
      box-sizing: border-box;
      width: 49px;
      height: 47px;
      border: 1px solid #e8e8e8;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  &-hr {
    border: 0;
    border-bottom: 1px solid #e8e8e8;
  }
  &-home {
    width: 1280px;
    margin: 20px auto;
    &-title {
      font-family: 'Poppins-Bold';
      font-weight: 700;
      font-size: 36px;
      line-height: 58px;
      color: $gray-900;
    }
    &-content {
      background-color: #fff;
      padding: 30px;
      border-radius: 20px;
    }
    &-description {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #666666;
    }
  }

  &-post {
    margin-top: 50px;
    &-hashtag {
      display: flex;
      gap: 10px;
      .item {
        padding: 12px 10px;
        background: $gray-000;
        border-radius: 8px;
        color: $gray-900;
        font-size: 16px;
        border: 1px solid $black;
        cursor: pointer;
        &.active {
          background: $color-primary;
          color: $gray-000;
        }
      }
    }
    &-list {
      margin: 30px 0 60px;
      .posts-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        border-top: 1px solid #cdcdd1;
        &-item {
          width: 48%;
        }
      }
      &-item {
        width: 464px;
        height: 155px;
        display: flex;
        justify-content: space-between;
        &-container {
          padding-right: 26px;
        }
        &-nick {
          font-family: 'Poppins-Bold';
          font-weight: 700;
          font-size: 14px;
          color: $gray-700;
        }
        &-title {
          margin-top: 16px;
          font-family: 'Poppins-Bold';
          font-weight: 700;
          font-size: 28px;
          color: $gray-800;
        }
        &-content {
          margin-top: 4px;
          font-family: 'Poppins-Regular';
          font-size: 15px;
          height: 45px;
          color: $gray-500;
        }
        &-info {
          margin-top: 16px;
          font-family: 'Poppins-Regular';
          font-size: 16px;
          color: #999999;
        }
      }
    }
    &-img {
      img {
        height: 155px;
      }
    }
  }
  .gallery {
    margin-top: 20px;
  }
  &-gallery-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    .item {
      width: 278px;
      height: 278px;
      border-radius: 20px 0 20px 0;
      img {
        width: 100%;
        height: 100%;
        border-radius: 20px 0 20px 0;
      }
    }
  }
  &-list-tag {
    display: flex;
    justify-content: flex-start;
    margin-top: 18px;
    margin-bottom: 20px;
  }
  &-boardGroup {
    display: flex;
    width: 1280px;
    margin: 20px auto 0;
    gap: 32px;
    background-color: #fff;
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    height: 60px;
    z-index: 1;
    &-item {
      height: 24px;
      padding: 14px 0;
      font-family: 'Poppins-Medium';
      font-size: 16px;
      color: $gray-400;
      cursor: pointer;
      &.active {
        color: $color-primary;
        font-family: 'Poppins-bold';
        font-weight: 700;
      }
    }
  }
  &-board {
    width: 1280px;
    height: 84px;
    display: flex;
    align-items: flex-end;
    margin: 0px auto -20px;
    background-color: #fff;
    color: $gray-400;
    border-radius: 0 0 20px 20px;
    position: relative;
    top: -34px;
    z-index: 0;
    &-list {
      border-top: 1px solid #e0e0e0;
      padding: 0px 30px;
      height: 50px;
      display: flex;
      align-items: center;
      width: 1280px;
      margin: 0 auto;
      gap: 32px;
      cursor: pointer;
      &-item {
        font-family: 'Poppins-Medium';
        font-weight: 500;
        font-size: 16px;
        &.active {
          color: $color-primary;
          font-family: 'Poppins-bold';
          font-weight: 700;
        }
      }
    }
  }
}
.manager {
  margin-left: 30px;
  font-family: 'Poppins-Bold';
  font-size: 13px;
  line-height: 20px;
  color: $gray-800;
  display: flex;
  align-items: center;

  &-tag {
    margin-right: 10px;
    font-family: 'Poppins-Regular';
    font-size: 12px;
    line-height: 20px;
    color: $color-primary;
    width: 58px;
    height: 24px;
    background: rgba(135, 1, 254, 0.1);
    padding: 2px 8px;
    border-radius: 4px;
  }
}

.side-member {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
  padding: 32px 16px 16px;
  border-radius: 20px;

  &-list {
    margin-top: 24px;
    display: flex;
    justify-self: flex-start;
    gap: 14px;

    &-item {
      flex-direction: column;
      cursor: pointer;
    }
    &-img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 2px solid #8801fe;
      position: relative;
      img {
        position: absolute;
        top: -3.5px;
        left: -2px;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        padding: 0;
        margin: 0;
      }
    }
    &-name {
      margin-top: 8px;
      font-family: 'Poppins-Bold';
      font-weight: 700;
      font-size: 18px;
      width: 80px;
      text-align: center;
      word-break: break-all;
    }
  }
}

.board-state {
  display: flex;
  gap: 10px;
  margin-right: 20px;
  div {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
  }
  .album {
    background-image: url('../../images/club/icon-album.png');
    &.active {
      background-image: url('../../images/club/icon-album-hor.png');
    }
  }
  .list {
    background-image: url('../../images/club/icon-list.png');
    &.active {
      background-image: url('../../images/club/icon-list-hor.png');
    }
  }
  .card {
    background-image: url('../../images/club/icon-card.png');
    &.active {
      background-image: url('../../images/club/icon-card-hor.png');
    }
  }
}
.post-fliter {
  width: 300px;
  height: 40px;
  border: 1px solid #e0e0e0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 8px;
}
.fliter-icon {
  margin: 0 0px 0 10px;
  cursor: pointer;
}
.feed {
  display: flex;
  align-items: center;
  font-family: 'Poppins-Medium';
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.toggleSwitch {
  width: 43px;
  margin: 0 4px;
  height: 26px;
  display: block;
  position: relative;
  border-radius: 2rem;
  background-color: #c1c7cd;
  box-shadow: '0 0 1rem 3px rgba(0 0 0 / 15%)';
  cursor: pointer;
}

.toggleSwitch .toggleButton {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #fff;
}

/* 체크박스가 체크되면 변경 이벤트 */
.toggleBtn:checked ~ .toggleSwitch {
  background: #8801fe;
}

.toggleBtn:checked ~ .toggleSwitch .toggleButton {
  left: 18px;
  background: #fff;
}

.toggleSwitch,
.toggleButton {
  transition: all 0.2s ease-in;
}

.board {
  margin: 0 auto;
  border-top: 1px solid #eeeeee;
  &-title {
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 28px;
    font-family: 'Poppins-bold';
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -0.56px;
    color: $gray-900;
  }
  &-actions {
    padding: 24px 30px 20px;
    &-right {
      gap: 20px;
    }
    &-select {
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 14px;
      width: 310px;
      height: 48px;
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      font-family: 'Poppins-Regular';
      font-weight: 400;
      font-size: 14px;
      cursor: pointer;
      img {
        margin-left: 14px;
      }
      &-box {
        box-sizing: border-box;
        padding: 0px;
        position: absolute;
        left: 0;
        width: 310px;
        top: 0px;
        background: $gray-000;
        border: 1px solid #121212;
        border-radius: 8px;
        z-index: 1000;
        overflow: hidden;
      }
      &-boardGroup {
        border-top: 1px solid #e0e0e0;
        display: flex;
        align-items: center;
        height: 40px;
        padding-left: 14px;
        font-family: 'Poppins-Bold';
        font-weight: 700;
        font-size: 14px;
        color: $color-primary;
      }
      &-item {
        display: flex;
        align-items: center;
        height: 48px;
        padding: 0 14px;
        font-family: 'Poppins-Regular';
        font-weight: 400;
        font-size: 14px;
        color: #121212;
        cursor: pointer;
        &:hover {
          background-color: #f8f8f8;
          // color: $color-primary;
        }
      }
    }
    &-count {
      width: 178px;
      background-color: #fff;
      border: 1px solid $gray-400;
      border-radius: 8px;
      height: 48px;
      padding: 0 16px;
      gap: 12px;
      cursor: pointer;
      .bar {
        height: 28px;
        width: 1px;
        border-left: 1px solid #d9d9d9;
      }
    }
  }
  &-bottom-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 21px;
  }
  &-input {
    width: 100%;

    input {
      width: calc(100% - 60px);
      border: 0;
      margin-left: 28px;
      height: 80px;
      font-family: 'Poppins-Medium';
      font-size: 24px;
      color: $gray-900;
      outline: 0;
      box-sizing: border-box;
      &::placeholder {
        color: #a7a8ab;
      }
    }
  }
  &-tag {
    display: flex;
    align-items: center;
    height: 75px;
    padding: 0 22px;
    &-item {
      font-size: 21px;
      gap: 8px;
      &-list {
        background: #eeeeee;
        border-radius: 30px;
        padding: 0 8px;
        color: #242a3c;
        font-family: 'Poppins-Medium';
        height: 28px;
        box-sizing: border-box;
        font-size: 14px;
        .board-tag-close {
          width: 18px;
          display: none;
          cursor: pointer;
        }
        &:hover .board-tag-close {
          display: inline;
          padding-left: 4px;
        }
      }
      .tag-edit {
        border: 2px solid #e7e7e7;
        padding: 8px;
        border-radius: 8px;
        color: $gray-400;
        font-family: 'Poppins-Medium';
        height: 50px;
        width: 60px;
        outline: 0;

        font-size: 21px;
        box-sizing: border-box;
      }
      .tag-input {
        border: 0;
        outline: 0;
        font-family: 'Poppins-bold';
        font-weight: 700;
        font-size: 21px;
        color: $gray-900;
        &::placeholder {
          color: $gray-400;
        }
      }
    }
  }
  &-allow {
    display: flex;
    padding: 22px;
    gap: 20px;
    border-top: 1px solid #eee;
    > div {
      display: flex;
      gap: 12px;
      align-items: center;
    }
  }
  &-password {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: center;
    margin-left: 58px;
    gap: 4px !important;
    &-input {
      font-family: 'Poppins-Regular';
      font-size: 14px;
      line-height: 20px;
      color: #121212;
      input {
        width: 120px;
        height: 28px;
        margin-left: 16px;
        font-family: 'Poppins-Regular';
        font-size: 14px;
        color: #777777;
        padding-left: 8px;
        box-sizing: border-box;
        outline: 0;
        border: 1px solid #e0e0e0;
      }
    }
    .remark {
      margin-top: 5px;
      font-family: 'Poppins-Regular';
      font-size: 13px;
      line-height: 20px;
      color: #121212;
    }
  }
}
.posts {
  &-header {
    &-btn {
      gap: 20px;
      cursor: pointer;
    }
  }
  &-left {
    gap: 18px;
  }
  &-right {
    gap: 40px;
  }
  &-container {
    margin-top: 8px;
    box-sizing: border-box;
    width: 900px;
    border-radius: 10px;

    &-header {
      border-bottom: 1px solid #ece7e7;
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    &-nav {
      color: $color-primary;
      font-family: 'Poppins-Light';
      font-size: 15px;
      cursor: pointer;
      margin-bottom: 8px;
    }
    &-title {
      font-family: 'Poppins-Bold';
      font-weight: 700;
      font-size: 28px;
      color: $gray-900;
      margin-bottom: 12px;
    }
    &-profile {
      display: flex;
      // width: 198px;
      img {
        width: 41px;
        height: 41px;
        border-radius: 50%;
        background-color: #777;
      }
      &-info {
        margin-left: 10px;
        margin-top: 7px;

        &-tag {
          display: flex;
          align-items: center;
          gap: 6px;
          .flex-center {
            border-radius: 20px;
          }
        }
      }
    }
    &-body {
      font-family: 'Poppins-Regular';
      font-size: 20px;
      line-height: 36px;
      color: #000000;
      padding: 30px 0;
      img {
        margin: 30px 0;
      }
    }
    &-subTitle {
      font-family: 'Poppins-bold';
      font-weight: 700;
      font-size: 28px;
      color: #000000;
      margin-bottom: 36px;
    }

    &-avatar {
      display: flex;
      align-items: center;
      left: 30px;
      .mul-img {
        position: absolute;
        border: 3px solid #fff;
        border-radius: 50%;
      }

      img {
        margin-right: 8px;
        width: 24px;
      }
      &-content {
        margin-left: 30px;
      }
    }
    &-footer {
      margin-top: 32px;
    }
    &-like {
      padding-bottom: 20px;
      border-bottom: 1px solid #ece7e7;
    }
    &-comment {
      padding-top: 24px;
      &-count {
        img {
          margin-right: 12px;
        }
      }
      textarea {
        margin-top: 12px;
        width: calc(100% - 00px);
        height: 130px;
        padding: 50px 0 30px 28px;
        border-radius: 16px;
        font-family: 'Poppins-Regular';
        font-size: 15px;
        line-height: 15px;
        &::placeholder {
          color: #cdcdcd;
        }
      }
      &-profile {
        position: absolute;
        top: 28px;
        left: 28px;
        gap: 12px;
        z-index: 1;
        img {
          width: 24px;
        }
      }
      &-bottom {
        position: absolute;
        width: calc(100% - 0px);
        bottom: 12px;
        padding: 0px 30px;
      }
      &-actions {
        display: flex;
        align-items: flex-end;
      }
      &-icon {
        gap: 12px;
        div {
          cursor: pointer;
        }
      }
    }
  }
  &-lists {
    margin-top: 20px;
    &-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
      gap: 20px;
      &-item {
        display: flex;
      }
      &-name {
        font-family: 'Poppins-Bold';
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        color: #444444;
      }
      &-title {
        margin-top: 4px;
        font-family: 'Poppins-Bold';
        font-weight: 700;
        font-size: 21px;
        line-height: 29px;
        color: #333333;
        margin-bottom: 8px;
      }
      &-content {
        font-family: 'Poppins-Regular';
        font-size: 12px;
        line-height: 16px;
        color: #666666;
        margin-bottom: 4px;
      }
      &-data {
        font-family: 'Poppins-Regular';
        font-size: 15px;
        line-height: 18px;
        color: #999999;
      }
    }
  }
  &-recent {
    margin-top: 20px;
    &-img {
      img {
        width: 40px;
        height: 40px;
      }
    }
    &-title {
      display: flex;
      margin-left: 8px;
      font-family: 'Poppins-Light';
      font-size: 24px;
      line-height: 28px;
      color: #000000;
    }
    &-name {
      margin-right: 4px;
      font-family: 'Poppins-Bold';
    }
    &-container {
      margin-top: 26px;
      display: flex;
      gap: 11px;
      &-item {
        width: 140px;
        height: 226px;
        background: #ffffff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        cursor: pointer;
      }
      &-img {
        img {
          width: 140px;
          height: 140px;
          border-radius: 20px;
        }
      }
      &-content {
        padding: 8px 12px 4px;
        font-family: 'Poppins-Regular';
        font-weight: 400;
        font-size: 13px;
        height: 40px;
        color: #a7a8ab;
      }
      &-data {
        padding: 0px 12px 14px;
        font-family: 'Poppins-Regular';
        font-weight: 400;
        font-size: 13px;
        color: #a7a8ab;
      }
    }
  }
  &-tag {
    display: flex;
    gap: 12px;

    cursor: pointer;
    &-item {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #000000;
      padding: 8px;
      background-color: #e0e0e0;
      border-radius: 20px;
      &:hover {
        color: #fff;
        background: #a7a8ab;
      }
    }
  }
  &-cancel {
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #666;
    margin-right: 16px;
    cursor: pointer;
  }
}
.btn-like {
  width: 56px;
  height: 28px;
  background-color: #dcdcdc;
  font-family: 'Poppins-Regular';
  color: #fff;
  border-radius: 16px;
  cursor: pointer;
  &.active {
    background-color: #27a2ff;
  }
  img {
    margin-right: 8px;
  }
}
.btn-unlike {
  width: 56px;
  height: 28px;
  background-color: #dcdcdc;
  font-family: 'Poppins-Regular';
  color: #fff;
  border-radius: 16px;
  cursor: pointer;
  &.active {
    background-color: #ff2a55;
  }
  img {
    margin-right: 8px;
  }
}
.icon-like-group {
  gap: 12px;
}
.profile-age {
  font-family: 'Poppins-Regular';
  font-size: 14px;
  line-height: 20px;
  color: #bdbdbd;
}
.textarea-count {
  font-family: 'Poppins-Regular';
  font-size: 13px;
  line-height: 15px;
  color: #999999;
  margin-right: 20px;
}
.comment {
  &-list {
    display: flex;
    gap: 25px;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 16px;
    &.child-comment {
      border-top: 1px dashed #e0e0e0;
      border-bottom: 0;
    }
    &-img {
      width: 48px;
      height: 48px;
    }
    &-item {
      width: 100%;
      &-title {
        margin-right: 8px;
      }
      &-icon {
        display: flex;
        align-items: flex-start;
        align-items: center;
        padding-bottom: 18px;
        .flex-center {
          border-radius: 20px;
        }
      }
    }
    &-content {
      display: flex;
      align-items: center;
      margin-top: 4px;
      font-family: 'Poppins-Regular';
      font-size: 15px;
      line-height: 15px;
      color: #000000;
      img {
        width: 20px;
      }
    }
  }
}
.dummy-img {
  width: 121px;
  height: 113px;
  border: 1px solid #000;
}
.club-event {
  margin-top: 20px;
  margin-bottom: 20px;
  &-conent {
    display: flex;
    gap: 23px;
    &-item {
      width: 436px;
      cursor: pointer;
      &-title {
        margin-top: 12px;
        font-family: 'Poppins-bold';
        font-weight: 700;
        font-size: 26px;
        line-height: 34px;
        color: #000000;
      }
      &-date {
        margin-top: 10px;
        height: 50px;
        background: #f8f8f8;
        border-radius: 4px;
        font-family: 'Poppins-bold';
        font-weight: 700;
        font-size: 18px;
        line-height: 34px;
        color: #ff49a7;
      }
      &-explain {
        margin-top: 10px;
        font-family: 'Poppins-Medium';
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;

        color: #000000;
      }
    }
  }
}
.notice {
  margin-bottom: 20px;
  padding: 38px 24px 24px;
  &-content {
    &-item {
      margin-top: 10px;
      background: #f8f8f8;
      border-radius: 10px;
      padding: 10px 18px;
      cursor: pointer;
      &-explain {
        font-family: 'Poppins-Regular';
        font-size: 13px;
        line-height: 24px;
        color: #555555;
      }
      &-date {
        font-family: 'Poppins-Regular';
        font-size: 14px;
        line-height: 16px;
        color: #bdbdbd;
      }
    }
  }
}
.hotPosts {
  &-content {
    margin-top: 20px;
    &-list {
      margin-top: 10px;
    }
    &-name {
      font-family: 'Poppins-Regular';
      font-size: 14px;
      line-height: 22px;
      color: #111111;
    }
    &-title {
      margin-top: 2px;
      font-family: 'Poppins-Bold';
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #111111;
    }
    &-info {
      margin-top: 2px;
      font-family: 'Poppins-Medium';
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #a7a8ab;
      img {
        margin-right: 2px;
      }
    }
  }
}

.temp {
  &-header {
    padding: 12px 22px 7px;
    border-bottom: 1px solid #d9d9d9;
  }
  &-popup {
    background-color: #fff;
    position: absolute;
    top: 50px;
    width: 324px;
    height: 394px;
    z-index: 100;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    &-title {
      font-family: 'Poppins-Regular';
      font-size: 15px;
      line-height: 22px;
      display: flex;
      align-items: center;
      color: #333333;
    }
    &-close {
      color: #777;
      font-size: 18px;
      cursor: pointer;
    }
  }
  &-body {
    padding: 16px 30px;
  }
  &-content {
    font-family: 'Poppins-Regular';
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.28px;
    color: #555555;
  }
  &-delete {
    border-radius: 20px;
    background-color: #e6e6e6;
    font-family: 'Poppins-Regular';
    font-size: 12px;
    line-height: 14px;
    padding: 6px;
    color: #000000;
    cursor: pointer;
  }
  &-lsit {
    margin-top: 18px;
    &-item {
      border-bottom: 1px solid #999999;
      padding: 4px;
      cursor: pointer;
      &-title {
        font-family: 'Poppins-Bold';
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
      }
      &-date {
        font-family: 'Poppins-Light';
        font-weight: 300;
        font-size: 10px;
        line-height: 15px;
        color: #999999;
      }
    }
  }
}
.reply {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 8px;
}

.member {
  &-home {
  }
  &-select {
    display: flex;
    gap: 10px;
    &-btn {
      width: 100px;
      height: 40px;
      background: #e0e0e0;
      border-radius: 6px;
      font-family: 'Poppins-Regular';
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #121212;
      cursor: pointer;
      &.active {
        background: #ed4ca3;
        color: #fff;
        font-family: 'Poppins-Bold';
        font-weight: 700;
      }
    }
  }
  &-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 72px;
    &-item {
      display: flex;
      gap: 20px;
      cursor: pointer;
      img {
        width: 80px;
        height: 80px;
      }
      &-name {
        font-family: 'Poppins-Bold';
        font-weight: 700;
        font-size: 18px;
        color: #000000;
        margin-bottom: 8px;
      }
      &-reting {
        padding: 4px 8px;
        font-family: 'Poppins-Medium';
        font-weight: 600;
        font-size: 12px;
        color: #fff;
        border-radius: 14px;
        margin-bottom: 4px;
        &.DIAMOND {
          background: #60e6ef;
        }
        &.PLATINUM {
          background: #ec7a12;
        }
        &.BRONZE {
          background: #ec7a12;
        }
      }
      &-level {
        width: fit-content;
        padding: 4px 8px;
        font-family: 'Poppins-Medium';
        font-weight: 600;
        font-size: 12px;
        color: #ffffff;
        background-color: #9013fe;
        border-radius: 14px;
      }
    }
    &-staff {
      &-title {
        font-family: 'Poppins-Bold';
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 35px;
        &.MASTER {
          color: #df0505;
        }
        &.SUPERSTAFF {
          color: #df05c9;
        }
        &.PROSTAFF {
          color: #0542df;
        }
        &.STAFF {
          color: #0583df;
        }
      }
    }
  }
}
.member-profile {
  display: flex;
  gap: 70px;
  &-content {
    margin-top: 30px;
  }
  &-name {
    font-family: 'Poppins-Bold';
    font-weight: 700;
    font-size: 26px;
    color: #000000;
    margin-bottom: 8px;
  }
  &-info {
    display: flex;
    gap: 4px;
  }
  &-counter {
    margin-top: 50px;
    display: flex;
    &-info {
      flex-direction: column;
      gap: 23px;
      margin-right: 40px;
      &-title {
        font-family: 'Poppins-Bold';
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        color: #111111;
      }
      &-content {
        font-family: 'Poppins-Bold';
        font-weight: 700;
        font-size: 36px;
        line-height: 37px;
        color: #000000;
      }
    }
  }
  &-tap {
    margin-top: 24px;
    display: flex;
    gap: 48px;
    .item {
      font-family: 'Poppins-Medium';
      font-weight: 500;
      font-size: 24px;
      color: #888888;
      cursor: pointer;
      &.active {
        font-family: 'Poppins-Bold';
        font-weight: 700;
        color: #8801fe;
      }
    }
  }
}
.etc {
  cursor: pointer;
  &-img {
    width: 24px;
    height: 24px;
    background: url('../../images/club/etc.png') no-repeat;
    &:hover {
      width: 24px;
      height: 24px;
      background: url('../../images/club/etc-hover.png') no-repeat;
      background-size: cover;
    }
  }
  &-box {
    position: absolute;
    z-index: 1000;
    border-radius: 16px;
    box-shadow: 10px 10px 5px #777;
    overflow: hidden;
    > div {
      display: flex;
      align-items: center;
      padding-left: 16px;
      width: 164px;
      height: 40px;
      background-color: #fff;
    }
  }
}
.writing {
  background-color: #fff;
  border-radius: 20px;
}
