@import 'common.scss';

.club {
  &-banner {
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &-tag {
    width: 1280px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    gap: 10px;

    .item {
      padding: 10px 12px;
      border: 1px solid $gray-000;
      border-radius: 8px;
      color: $gray-000;
      margin-bottom: 60px;
    }
  }
  &-profile {
    position: relative;
    top: -75px;
    display: flex;
    justify-content: flex-end;
    width: 1280px;
    margin: 0 auto;
    img {
      width: 160px;
      height: 160px;
      border-radius: 50%;
    }
  }
  &-content {
    width: 1280px;
    margin: 40px auto;

    &-title {
      font-family: 'Poppins-Bold';
      font-size: 36px;
      display: flex;
      align-items: center;
      color: $gray-900;
    }
    &-explan {
      width: 1000px;
      height: 48px;
      font-family: 'Poppins-Regular';
      font-size: 12px;
      line-height: 20px;
      color: $gray-900;
    }
    &-info {
      margin-top: 24px;
      display: flex;
      gap: 12px;
      &-box {
        width: 102px;
        height: 54px;
      }
      &-number {
        font-family: 'Poppins-Bold';
        font-size: 22px;
        line-height: 38px;
        color: $gray-900;
      }
      &-title {
        font-family: 'Poppins-Regular';
        font-size: 13px;
        line-height: 16px;
        color: #999999;
      }
    }
  }
  &-meun {
    display: flex;
    gap: 32px;
    width: 1280px;
    margin: 0 auto;
    &-item {
      height: 52px;
      font-family: 'Poppins-Medium';
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #777777;
      cursor: pointer;
      &.active {
        color: $color-primary;
        border-bottom: 4px solid $color-primary;
      }
    }
  }
  &-icon-btn {
    display: flex;
    gap: 10px;
    .item {
      box-sizing: border-box;
      width: 49px;
      height: 47px;
      border: 1px solid #e8e8e8;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  &-hr {
    border: 0;
    border-bottom: 1px solid #e8e8e8;
  }
  &-home {
    width: 1280px;
    margin: 50px auto;
    &-title {
      font-family: 'Poppins-Bold';
      font-size: 36px;
      line-height: 58px;
      color: $gray-900;
    }
  }
  &-post {
    margin-top: 50px;
    &-hashtag {
      display: flex;
      gap: 10px;
      .item {
        padding: 12px 10px;
        background: $gray-000;
        border-radius: 8px;
        color: $gray-900;
        font-size: 16px;
        border: 1px solid $black;
        cursor: pointer;
        &.active {
          background: $color-primary;
          color: $gray-000;
        }
      }
    }
    &-list {
      margin: 30px 0 60px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      &-item {
        width: 467px;
        height: 155px;
        display: flex;
        justify-content: space-between;
        &-container {
          padding-right: 26px;
        }
        &-nick {
          font-family: 'Poppins-Bold';
          font-size: 14px;
          color: $gray-700;
        }
        &-title {
          margin-top: 16px;
          font-family: 'Poppins-Bold';
          font-size: 29px;
          color: $gray-800;
        }
        &-content {
          margin-top: 4px;
          font-family: 'Poppins-Regular';
          font-size: 16px;
          height: 45px;
          color: $gray-500;
        }
        &-info {
          margin-top: 16px;
          font-family: 'Poppins-Regular';
          font-size: 18px;
          color: #999999;
        }
      }
    }
    &-img {
      img {
        height: 155px;
      }
    }
  }
  &-gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .item {
      width: 305px;
      height: 305px;
      border-radius: 14.104px;
    }
  }
  &-list-tag {
    width: 216px;
    height: 40px;
    display: flex;
    border-radius: 8px;
    border: 1px solid $color-primary;
    margin-top: 38px;
    margin-bottom: 62px;
    .item {
      width: 108px;
      height: 40px;
      font-family: 'Poppins-Light';
      font-size: 14px;
      line-height: 145%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-primary;
      cursor: pointer;
    }
    .item.active {
      font-family: 'Poppins-Bold';
      background-color: $color-primary;
      color: $gray-000;
    }
  }
}
.manager {
  margin-left: 30px;
  font-family: 'Poppins-Bold';
  font-size: 13px;
  line-height: 20px;
  color: $gray-800;
  display: flex;
  align-items: center;

  &-tag {
    margin-right: 10px;
    font-family: 'Poppins-Regular';
    font-size: 12px;
    line-height: 20px;
    color: $color-primary;
    width: 58px;
    height: 24px;
    background: rgba(135, 1, 254, 0.1);
    padding: 2px 8px;
    border-radius: 4px;
  }
}
.member {
  margin-top: 44px;
  width: 272px;
  border: 1px solid #e8e8e8;
  padding: 32px 16px 16px;
  border-radius: 8px;
  &-title {
    font-family: 'Poppins-Bold';
    font-size: 22px;
  }
  &-see {
    font-family: 'Poppins-Bold';
    color: $gray-300;
    font-size: 14px;
  }
  &-list {
    margin-top: 24px;
    display: flex;
    justify-self: flex-start;
    gap: 24px;

    &-item {
      flex-direction: column;
    }
    &-img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 2.4px solid #8801fe;
      img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        padding: 0;
        margin: 0;
      }
    }
    &-name {
      margin-top: 8px;
      font-family: 'Poppins-Bold';
      font-size: 18px;
      width: 80px;
      text-align: center;
      word-break: break-all;
    }
  }
}
