@import 'common.scss';
/* TODO: Button */
.button {
  &-component {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    cursor: pointer;
    line-height: 1;
    border-radius: 8px;
  }
  &-contained {
    border: 0;
    &:disabled {
      background-color: $gray-200;
    }
  }
  &-cancel {
    color: $gray-000;
    background-color: #777777;
    border-color: #777777;
    &.button-line {
      color: #777777;
      &:disabled {
        color: $gray-200;
      }
    }
  }
  &-primary {
    color: $gray-000;
    background-color: $color-primary;
    border-color: $color-primary;
    &.button-line {
      color: $color-primary;
      &:disabled {
        color: $gray-200;
      }
    }
  }
  &-secondary {
    color: $gray-000;
    background-color: $color-secondary;
    border-color: $color-secondary;
    &.button-line {
      color: $color-secondary;
      &:disabled {
        color: $gray-200;
      }
    }
  }
  &-point {
    color: white;
    background: linear-gradient(270deg, #ff45a1 0%, #ff5ec9 100%);
    border-color: #ed348f;
    &.button-line {
      color: #ed348f;
      &:disabled {
        color: $gray-200;
      }
    }
  }
  &-success {
    color: white;
    background-color: #00b78b;
    border-color: #00b78b;
    &.button-line {
      color: #00b78b;
      &:disabled {
        color: $gray-200;
      }
    }
  }
  &-warming {
    color: white;
    background-color: #fcd332;
    border-color: #fcd332;
    &.button-line {
      color: #fcd332;
      &:disabled {
        color: $gray-200;
      }
    }
  }
  &-error {
    color: white;
    background-color: #fd2a55;
    border-color: #fd2a55;
    &.button-line {
      color: #fd2a55;
      &:disabled {
        color: $gray-200;
      }
    }
  }
  &-line {
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    &:disabled {
      border: solid 1px $gray-200;
    }
  }
  &-size {
    &-xl {
      font-size: 20px;
      padding: 0 20px;
      height: 56px;
    }
    &-l {
      font-size: 17px;
      padding: 0 18px;
      height: 52px;
    }
    &-m {
      font-size: 15px;
      padding: 0 20px;
      height: 48px;
    }
    &-s {
      font-size: 14px;
      padding: 0 10px;
      height: 40px;
    }
  }
}

/* TODO: Filter */

.filter {
  width: 360px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #e0e0e0;
  background-color: #fff;
  border-radius: 8px;
  &-conent {
    padding: 20px 20px 16px;
    border-bottom: 1px solid #e0e0e0;
  }
  &-title {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    color: $gray-400;
  }
  .sort-box {
    box-sizing: border-box;
    flex-flow: row wrap;
    div {
      width: 84px;
      margin-right: -1px;
      height: 40px;
      flex: 1 0 auto;
      border: solid 1px #e0e0e0;
      cursor: pointer;
      &.active {
        border: 1px solid $color-primary;
        color: $color-primary;
        margin-right: 0px;
        font-weight: 500;
      }
    }
  }
  &-box {
    font-family: Mplus1p;
    font-size: 13px;
    font-weight: 400;
    color: #121212;
    &.active {
      border: 1px solid $color-primary;
      color: $color-primary;
      margin-right: 0px;
      font-weight: 500;
    }
  }
  .date-box {
    div {
      width: 61px;
      height: 40px;
      margin-right: -1px;
      border: solid 1px #e0e0e0;
      background-color: #fff;
      cursor: pointer;
      &.active {
        border: 1px solid $color-primary;
        color: $color-primary;
        margin-right: 0px;
        font-weight: 500;
      }
    }
  }
  .date-start {
    width: 127px;
    height: 40px;
    margin: 8px 4px 12px 11px;
    padding: 8px 6px 8px 14px;
    border-radius: 8px;
    border: solid 1px #e0e0e0;
    background-color: $gray-000;
  }
  .box-left {
    border-radius: 8px 0 0 8px;
  }
  .box-right {
    border-radius: 0 8px 8px 0;
  }
  &-hr {
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
  &-actions {
    display: flex;
    justify-content: flex-end;
    padding: 12px 20px;
  }
  &-done {
    width: 79px;
    height: 40px;
    border-radius: 8px;
    background-color: #f8f8f8;
    font-size: 13px;
    font-weight: 500;
    color: #242a3c;
    cursor: pointer;
  }
  &-cancle {
    width: 45px;
    height: 19px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.85;
    color: #bdbdbd;
    cursor: pointer;
  }
  &-tag {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 14px;
    gap: 8px;
    &-list {
      display: flex;
      gap: 4px;
      align-items: center;
    }
    &-title {
      font-family: 'Poppins-Medium';
      font-weight: 500;
      font-size: 14px;
      color: #777777;
    }
    &-item {
      font-family: 'Poppins-Medium';
      font-weight: 500;
      font-size: 14px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #242a3c;
      padding: 4px 6px;
      background: #ebebeb;
      border-radius: 20px;
    }
  }
}

.keyword-input {
  width: 130px;
  height: 40px;
  padding: 0;
  padding-left: 14px;
  border-radius: 8px;
  background-color: #f8f8f8;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
.keyword-select {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;

  height: 36px;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  color: #121212;
  font-size: 13px;
  cursor: pointer;
  img {
    width: 12px;

    margin-left: 18px;
  }
}
.keyword-input::placeholder {
  color: #a7a8ab;
}
.seachPlus {
  width: 40px;
  height: 40px;
  background-color: #9013fe;
  border-radius: 8px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  img {
    width: 12px;
    height: 12px;
  }
}

.calendar {
  margin: 8px 0 8px 62px;
  p {
    display: none;
  }
  .MuiOutlinedInput-input {
    width: 109px;
    height: 38px;
    padding: 0;
    padding-left: 8px;
    border-radius: 10px;
    /* border: solid 1px #e0e0e0; */
    background-color: #fff;
    margin-left: 4px;
    outline: 0;
    color: #121212;
    font-size: 13px;
  }
}

.MuiPickersDateRangePickerInput-rangeInputsContainer {
  gap: 16px;
}
.calendar .MuiFormHelperText-contained {
  display: none;
}

.ic_calendar {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('../../images/components/ic_calendar_gr.svg');
  background-size: cover;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.calendar .relative:hover .ic_calendar {
  background-image: url('../../images/components/ic_calendar_hover.svg');
}
.MuiPickersDay-daySelected {
  background-color: #9013fe !important;
  color: #fff !important;
}
.MuiPickersDateRangeDay-rangeIntervalDayHighlight {
  background-color: #f4e7ff !important;
}
.MuiPickersDateRangeDay-rangeIntervalDayHighlight button {
  color: #242a3c;
}
.MuiPickersDesktopDateRangeCalendar-dateRangeContainer .MuiPickersDesktopDateRangeCalendar-calendar {
  min-height: 230px;
}
.active .ic_calendar {
  background-image: url('../../images/components/ic_calendar_on.svg');
}
.ic_calendar:hover {
  background-image: url('../../images/components/ic_calendar_hover.svg');
}

/* TODO: Header */
.header {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 94px;
  background-color: #9013fe;
  &-content {
    height: 94px;
    width: 1280px;
  }
  .menu {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    margin: 6px;
    object-fit: contain;
    cursor: pointer;
  }
  .menu:hover {
    background-color: #8022d5;
  }
  .menu:active {
    background-color: #ff45a1;
  }
  .user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 4px;
    background-image: linear-gradient(141deg, #ffd300 14%, #ff45a1 86%);
  }
  .user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #8022d5;
  }
  .loginBtn {
    width: 84px;
    height: 36px;
    border-radius: 18px;
    border: solid 1px #fff;
    font-family: NanumSquareRoundOTF;
    font-size: 16px;
    color: #fff;
    margin-right: 12px;
    cursor: pointer;
  }
  .seachBar {
    width: 400px;
    height: 44px;
    padding-left: 16px;
    border-radius: 8px;
    background-color: #7d0edf;
    border: 0;
    outline: 0;
    color: #fff;
    box-sizing: border-box;
  }
  .seachBar::placeholder {
    opacity: 0.5;
    font-family: NanumSquareRoundOTF;
    font-size: 15px;
    color: #fff;
  }
  .seachIc {
    position: absolute;
    right: 6px;
    top: 6px;
  }
  .tootip {
    display: none;
    height: 23px;
    opacity: 0.8;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #121212;
    font-family: Poppins;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
  }
  .menu:hover .tootip {
    display: flex;
  }
  .tootip::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #121212;
    position: absolute;
    top: -18px;
  }
}

/* TODO: TextTield */
.text-field .title {
  height: 61px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: #242a3c;
}
.cgp-input {
  width: 200px;
  height: 26px;
  padding: 14.5px 260px 14.5px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #121212;
  border: solid 1px #e0e0e0;
  background-color: #fff;
}
.cgp-input::placeholder {
  color: #bdbdbd;
  font-weight: 400;
}
.cgp-input:disabled {
  border: solid 1px #e0e0e0;
  background-color: #f8f8f8;
  color: #bdbdbd;
}
.cgp-input:read-only {
  border: solid 1px #e0e0e0;
  background-color: #f8f8f8;
  color: $gray-400;
}
.cgp-input:focus-visible {
  border: solid 1px #ff45a1;
  background-color: #fff;
  color: #121212;
  outline: 0;
}
.cgp-input.error {
  border: solid 1px #ff2a55;
}
.cgp-input.success {
  border: solid 1px #00b78b;
}
.help-text {
  margin-top: 4px;
  font-size: 13px;
  line-height: 1.54;
  color: $gray-400;
}
.help-text.error {
  color: #ff2a55;
}
.help-text.success {
  color: #00b78b;
}
.cgp-input-field {
  display: flex;
  flex-direction: column;
}

// Loader

@keyframes scaling {
  100% {
    transform: scale(0.2);
    opacity: 0.2;
  }
  60% {
    transform: scale(0.4);
    opacity: 0.4;
  }
  40% {
    transform: scale(0.6);
    opacity: 0.6;
  }
  0% {
    transform: scale(1);
    opacity: 1;
  }
}
.loader {
  width: 180px;
}
.dots {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  // transform: scale(0);
  animation: scaling 1.5s ease-in-out infinite;
  display: inline-block;
  margin: 0.5rem;
  background-color: #9013fe;
}

.dots:nth-child(1) {
  animation-delay: 0s;
  transform: scale(0);
}
.dots:nth-child(2) {
  animation-delay: 0.2s;
  transform: scale(0.6);
}
.dots:nth-child(3) {
  animation-delay: 0.4s;
  transform: scale(0.4);
}
.dots:nth-child(4) {
  animation-delay: 0.8s;
  transform: scale(0.2);
}
.dots:nth-child(5) {
  animation-delay: 1s;
  transform: scale(0.8);
}
.loader-text {
  margin-top: 16px;
  font-size: 15px;
  color: #9013fe;
}

//profile
.side-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 32px 25px;
  box-sizing: border-box;
  width: 305px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  margin-bottom: 36px;
}

.profile {
  background-color: $gray-000;
  background-repeat: no-repeat;
  padding: 24px;
  margin-top: 20px;
  &.image {
    background-image: url('../../images/components/profile-background.png');
  }
  &-img {
    margin-top: 80px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    img {
      width: 60px;
      height: 60px;
    }
  }
  &-imgBox {
    margin-top: -40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #141414;
    border: 2px solid #8801fe;
  }
  &-name {
    font-family: 'Poppins-Bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #111111;
    display: flex;
    text-align: center;
    gap: 10px;
  }
  &-info {
    flex-direction: column;
    padding: 0px;
    width: 88.67px;
    height: 50px;
    margin-top: 17px;
    &-title {
      color: #111;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 32px;
    }
    &-name {
      color: $gray-800;
      font-family: 'Poppins-Bold';
      font-weight: 700;
      font-size: 20px;
      line-height: 32px;
    }
    &-content {
      width: 88.67px;
      height: 18px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      color: #111;
    }
  }
  &-btn {
    margin-top: 30px;
    width: 205px;
    height: 48px;
    background: #8801fe;
    padding: 0 30px;
    font-family: 'Poppins';
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
  }
  &-staff {
    padding: 0px 6px;
    background: rgba(119, 119, 119, 0.1);
    border-radius: 4px;
    font-family: 'Poppins-Regular';
    font-size: 10px;
    line-height: 20px;
    color: #000000;
    margin-right: 6px;
  }
  &-rating {
    height: 18px;
    font-family: 'Poppins-Regular';
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #dfaf05;
    margin-right: 6px;
  }
  &-level {
    width: 34px;
    height: 18px;
    font-family: 'Poppins-Regular';
    font-size: 10px;
    line-height: 20px;
    background: #9013fe;
    border-radius: 20px;
    color: #fff;
  }
  .admin-nav {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    font-family: 'Poppins-Regular';
    font-size: 16px;
    height: 24px;
    color: #444444;
    img {
      margin-right: 9px;
    }
  }
}

.pagination {
  display: flex;
  button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    margin: 4px;
    width: 27px;
    height: 28px;
  }
  &-prevbtn {
    border: 0;
    margin-right: 16px;
    img {
      transform: rotate(180deg);
    }
  }
  &-numbtn {
    border: 0;
    background-color: $gray-000;
    color: $gray-400;

    &.active {
      background-color: $color-primary;
      color: $gray-000;
    }
  }
  &-nextbtn {
    border: 0;
    margin-left: 16px;
  }
}

// board
.board-album {
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
  &-item {
    width: 278px;
    height: 386px;
    cursor: pointer;
    &-container {
      margin-top: 4px;
    }
    &-nick {
      font-family: 'Poppins-bold';
      font-weight: 700;
      font-size: 12px;
      line-height: 12px;
      color: #444444;
    }
    &-title {
      margin-top: 4px;
      font-family: 'Poppins-bold';
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
    }
    &-info {
      margin-top: 15px;
      font-family: 'Poppins-Regular';
      font-size: 16px;
      line-height: 24px;
      color: #999999;
    }
  }
  &-img {
    width: 278px;
    height: 285px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.board-list {
  &-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 185px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 10px;
    gap: 10px;
    border-top: 1px solid #cdcdd1;
    cursor: pointer;
    &-container {
      margin-top: 12px;
      margin-right: 88px;
    }
    &-title {
      margin-top: 14px;
      font-family: 'Poppins-Bold';
      font-weight: 700;
      font-size: 26px;
      line-height: 32px;
      display: flex;
      align-items: center;
      img {
        margin-left: 4px;
      }
    }
    &-date {
      font-family: 'Poppins-Medium';
      font-size: 14px;
      line-height: 24px;
      color: #777777;
    }
    &-content {
      margin-top: 10px;
      font-family: 'Poppins-Regular';
      font-size: 18px;
      line-height: 26px;
      color: #777777;
      height: 52px;
    }
  }
  &-img {
    width: 180px;
    height: 180px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.board-card {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  &-item {
    width: 408px;
    height: 718px;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 18px 14px 14px;
    cursor: pointer;
    &-container {
      margin-top: 14px;
    }
    &-nick {
      font-family: 'Poppins-bold';
      font-weight: 700;
      font-size: 12px;
      line-height: 12px;
      color: #444444;
    }
    &-title {
      margin-top: 14px;
      font-family: 'Poppins-bold';
      font-weight: 700;
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 14px;
      display: flex;
      align-items: center;
      img {
        margin-left: 4px;
      }
    }
    &-info {
      margin-top: 24px;
      font-family: 'Poppins-Regular';
      font-size: 22px;
      line-height: 24px;
      color: #999999;
    }
    &-content {
      font-family: 'Poppins-Regular';
      font-size: 18px;
      line-height: 26px;
      color: #666666;
    }
  }
  &-img {
    width: 100%;
    height: 382px;
    border-radius: 8px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
}

.list-filter {
  div {
    border: 1px solid #e0e0e0;
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-family: 'Poppins-Regular';
    color: #121212;
    cursor: pointer;
    &:first-child {
      border-radius: 8px 0 0 8px;
    }
    &:last-child {
      border-radius: 0 8px 8px 0;
      margin-left: -1px;
    }
    &.active {
      color: #8701fe;
      font-family: 'Poppins-Bold';
      font-weight: 700;
      border: 2px solid #8701fe;
    }
  }
}
.comment-list-filter {
  div {
    border: 1px solid #e0e0e0;
    width: 70px;
    height: 30px;
    font-size: 9px;
    font-family: 'Poppins-Regular';
    color: #121212;
    cursor: pointer;
    &:first-child {
      border-radius: 8px 0 0 8px;
    }
    &:last-child {
      border-radius: 0 8px 8px 0;
      margin-left: -1px;
    }
    &.active {
      color: #fff;
      background-color: #8701fe;
      font-family: 'Poppins-Bold';
      font-weight: 700;
    }
  }
}
.side-activity {
  &-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 6px;
    cursor: pointer;
    &:hover {
      background-color: #f6f6f6;
      border-radius: 8px;
    }
    &-img {
      img {
        width: 60px;
        height: 60px;
      }
    }
    &-title {
      font-family: 'Poppins-Bold';
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #333;
    }
    &-content {
      width: 140px;
    }
    &-name {
      width: 96px;
      font-family: 'Poppins-Regular';
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #666666;
      height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &-greetings {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #a7a8ab;
    }
    &-profile {
      width: 40px;
      height: 40px;
    }
  }
}

.chatting {
  margin-bottom: 20px;
}

.myClubs {
  &-content {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  &-list {
    width: 120px;
    height: 168px;
    margin-bottom: 5px;
    cursor: pointer;
    &-img {
      img {
        width: 120px;
        height: 120px;
        border-radius: 20px 0 20px 0;
      }
    }
    &-item {
      padding: 8px 4px 0;
      &-name {
        font-family: 'Poppins-Bold';
        font-weight: 700;
        font-size: 16px;
        color: #121212;
        margin-bottom: 4px;
        height: 16px;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 110px;
      }
      &-info {
        display: flex;
        align-items: center;
        font-family: 'Inter';
        font-size: 13px;
        line-height: 18px;
        color: #777777;
        img {
          margin-right: 4px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.tags {
  display: flex;
  gap: 4px;
  overflow: hidden;
  margin-top: 25px;
  .item {
    height: 30px;
    background: #e0e0e0;
    border-radius: 20px;
    font-size: 16px;
    color: #121212;
    padding: 0 10px;
    font-size: 14px;
    cursor: pointer;
    &.active {
      color: #fff;
      font-family: 'Poppins-Bold';
      font-weight: 700;
      background: linear-gradient(270deg, #ed348f 0%, #ff5ec9 100%);
    }
  }
}

.posts-list {
  margin-top: 16px;

  &-item {
    border-top: 1px solid #cdcdd1;
    padding: 20px 0 30px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    &-title {
      font-family: 'Poppins-Bold';
      font-weight: 700;
      font-size: 26px;
      line-height: 32px;
      color: #121212;
      display: flex;
      align-items: center;
    }
    &-content {
      font-family: 'Poppins-Regular';
      font-size: 18px;
      line-height: 26px;
      color: #777777;
      margin-top: 10px;
      margin-bottom: 22px;
      height: 52px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &-profile {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &-img {
        background-color: #d9d9d9;
        border-radius: 50%;
        margin-right: 8px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
    }
    &-nick {
      font-family: 'Poppins-Bold';
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      color: #121212;
      display: flex;
      gap: 10px;
    }
    &-info {
      display: flex;
      align-items: center;
      gap: 16px;
      font-family: 'Poppins-Medium';
      font-size: 14px;
      line-height: 24px;
      color: #777777;
    }
  }
}
.categories {
  display: flex;
  gap: 10px;
  overflow: hidden;
  .item {
    height: 40px;
    background: #e0e0e0;
    border-radius: 6px;
    font-size: 16px;
    color: #121212;
    padding: 0 10px;
    font-size: 14px;
    cursor: pointer;
    &.active {
      color: #fff;
      font-family: 'Poppins-Bold';
      font-weight: 700;
      background: linear-gradient(270deg, #ed348f 0%, #ff5ec9 100%);
    }
  }
}
.content {
  margin-top: 16px;
  padding: 16px 0 18px;
  border-top: 1px solid #cdcdd1;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  .club-list {
    width: 22.4%;
    height: 280px;
    border-radius: 20px 0 20px 20px;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    .list-img {
      height: 174px;
      img {
        border-radius: 20px 0 0 0;
        width: 100%;
        height: 174px;
        overflow: hidden;
      }
    }
    .list-item {
      padding: 12px 14px;
      &-name {
        font-family: 'Poppins-Bold';
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: #121212;
        padding-bottom: 12px;
        height: 48px;
      }
      &-info {
        font-family: 'Poppins-Medium';
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #a7a8ab;
        img {
          margin-right: 4px;
          width: 16px;
          height: 16px;
        }
      }
      &-profile-image {
        position: absolute;
        right: 0;
        top: 119px;
        & > img {
          width: 64px;
          height: 64px;
          border-radius: 20px 0px;
          border: 3px solid #fff;
        }
      }
      &-pin {
        position: relative;
        top: -8px;
        z-index: 100;
        img {
          width: 32px;
        }
      }
      .flex-between {
        height: 20px;
      }
    }
  }
}
.see-all {
  display: flex;
  justify-content: flex-end;
  font-family: 'Poppins-Bold';
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  color: #a7a8ab;

  cursor: pointer;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.hot-videos {
  .video {
    &-content {
      margin-top: 16px;
      border-top: 1px solid #cdcdd1;
    }
    &-list {
      margin-top: 20px;
      display: flex;
      gap: 25px;
      flex-wrap: wrap;
      &-item {
        width: 278px;
        height: 280px;
        background: #ffffff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        &-content {
          padding: 12px 14px;
        }
        &-title {
          font-family: 'Poppins-Bold';
          font-weight: 700;
          font-size: 18px;
          line-height: 27px;
          color: #121212;
          margin-bottom: 8px;
        }
        &-info {
          display: flex;
          align-items: center;
          gap: 16px;
          font-family: 'Poppins-Medium';
          font-size: 14px;
          color: #777777;
          .flex-center {
            gap: 4px;
            align-items: flex-end;
          }
        }
      }
    }
  }
}
.myFeeds {
  &-content {
  }
  &-list {
    &-item {
      margin-bottom: 20px;
      &-name {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #777777;
      }
      &-title {
        font-family: 'Poppins-Bold';
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
      }
      &-content {
        margin-top: 2px;
        font-family: 'Poppins-Regular';
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #777777;
      }
      &-info {
        margin-top: 5px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: #777777;
        img {
          margin-right: 4px;
        }
      }
    }
  }
}

.side-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 24px;
  width: 305px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 36px;
  & > div {
    width: 100%;
  }
  &-title {
    font-family: 'Poppins-Bold';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $gray-900;
  }
  &-meun {
    margin-top: 12px;
  }
  &-tap {
    width: 133px;
    height: 40px;
    font-family: 'Poppins-Bold';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #aaaaaa;
    border-bottom: 3px solid #f2f2f2;
    cursor: pointer;
    &.active {
      color: $gray-900;
      border-color: #9013fe;
    }
  }
}
.select-option {
  position: absolute;
  top: -1px;
  left: -10px;
  border-radius: 20px;
  box-shadow: 6px 3px 3px #777;
  &-item {
    width: 80px;
    height: 30px;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
  }
}
