@import 'base';

.admin {
  &-banner-wrapper {
    @include col;
    div button {
      @include col;
    }

    height: 460px;
    background-color: $gray400;
    position: relative;
    // overflow: hidden;

    .banner-image {
      width: 100%;
      height: 460px;
      object-fit: cover;
      position: absolute;
    }

    .banner-content-wrapper {
      @include col;
      height: 100%;
      position: relative;
      @include limitWidth(1280);
      justify-content: space-between;
    }

    .go-back {
      // position: relative;
      margin-top: 26px;
      color: white;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      font-family: Poppins;
    }

    .banner-bottom-wrapper {
      @include row;
      justify-content: space-between;

      .tag-container {
        @include row;
        flex-wrap: wrap;
        max-width: 840px;
        margin-bottom: 24px;
        gap: 4px;
      }

      .banner-profile-image {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        margin-bottom: -80px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
  }

  &-title-wrapper {
    @include col;
    @include limitWidth(1280);
    // justify-content: space-between;
    height: 195px;

    .club-name {
      color: $gray500;
      margin-top: 40px;
      font-size: 40px;
      font-weight: 700;
      line-height: 52px;
    }
    .club-description {
      color: $gray500;
      font-size: 16px;
      margin-top: 15px;
    }
    .writing {
      color: $black;
    }
  }

  &-content-wrapper {
    @include col;
    @include limitWidth(1280);
    color: $black;

    .wrapper-840 {
      width: 840px;
    }

    .headline-title {
      font-size: 30px;
      margin-top: 120px;
    }

    .headline-description {
      font-size: 16px;
      margin-top: 15px;
      margin-bottom: 60px;
    }

    .form-wrapper {
      display: flex;
      margin-bottom: 45px;

      .form-body {
        display: flex;
        width: 840px;
        min-width: 840px;
      }

      .form-side-wrapper {
        @include row;

        align-items: flex-start;
        flex-shrink: 1;

        .form-side-inner {
          @include row;
          @include flexCenter;
          min-width: 60px;
        }

        .error-text {
          color: $color-error100;
          font-size: 15px;
          line-height: 22px;
        }
      }

      .form-label {
        width: 180px;
        margin-right: 40px;

        &-title {
          font-size: 22px;
          line-height: 60px;
        }

        &-essential {
          margin-top: 14px;
          background-color: $color-primary100;
          width: 6px;
          height: 6px;
          border-radius: 6px;
        }

        &-description {
          font-size: 16px;
          line-height: 22px;
          margin-top: 3px;
        }
      }

      .under-text {
        align-self: flex-end;
        margin-top: 3px;
        color: $gray900;
        font-size: 16px;
        line-height: 22px;
      }

      .name {
        @include col;
        flex: 1;
      }

      .address {
        @include col;
        flex: 1;

        .url-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        .club-url {
          font-size: 16px;
          margin-right: 90px;
        }

        &-input-wrapper {
          @include col;
          flex: 1;
        }
      }

      .category {
        position: relative;
        flex: 1;
      }

      .image-picker {
        .profile-size {
          width: 180px;
          height: 180px;
          border-radius: 50%;
          // padding: 3px;
        }

        .banner-size {
          width: 400px;
          height: 225px;
          padding: 3px;
        }

        &-selected-wrapper {
          @include col;
          @include flexCenter;
          border: 2px solid $color-primary100;
          background-color: $color-primary100;
          overflow: hidden;
          box-sizing: border-box;
          position: relative;
        }

        &-selected {
          object-fit: cover;
        }

        &-selected-hover {
          @include col;
          @include flexCenter;
          background-color: rgba(0, 0, 0, 0.5);
          position: absolute;
          opacity: 0;

          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }

        &-default {
          @include col;
          @include flexCenter;
          background-color: $gray900;
          box-sizing: border-box;
          cursor: pointer;
          &:hover {
            background: $gray1000;
            color: #fff;
          }
        }
      }

      .description-wrapper {
        @include col;
        flex: 1;

        .description-textarea {
          height: 126px;
          padding: 14px 16px;
          border: 1px solid $gray300;
          border-radius: 8px;
          resize: none;
          font-size: 14px;
          font-family: Poppins;
          &::placeholder {
            color: $gray500;
            font-size: 14px;
          }
          &:focus {
            border-color: $black;
            color: $black;
            // border: none;
            outline: none;
          }

          &-success {
            border-color: $color-success100;
          }
          &-error {
            border-color: $color-error100;
          }
        }
      }

      .tags-wrapper {
        @include col;
        flex: 1;
        .input-tags-wrapper {
          @include row;
          flex-flow: wrap;
          gap: 15px;
          .input-tags-text {
            width: 100px;
            height: 60px;
            border: 1px solid $gray300;
            border-radius: 8px;
            outline: none;
            font-size: 14px;
            padding: 0 12px;
            box-sizing: border-box;

            &::placeholder {
              color: $gray500;
            }
          }

          .input-tags-button {
            min-width: 70px;
            height: 60px;
            padding: 0 12px;
            outline: none;
            border: 1px solid $gray300;
            border-radius: 8px;
            position: relative;
            overflow: hidden;

            &:hover {
            }

            &-hover {
              @include row;
              @include flexCenter;
              background-color: $color-primary100;
              opacity: 0;
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              color: white;
              font-size: 14px;
              font-family: Poppins;
              line-height: 24px;

              &:hover {
                opacity: 0.9;
              }
            }
          }
        }
      }

      .auto-approval-wrapper {
        @include row;
        flex: 1;
        margin-top: 20px;
      }
    }

    .submit-button-wrapper {
      @include row;
      justify-content: center;
      margin-top: 75px;
      margin-bottom: 400px;
      gap: 40px;
    }
  }
}
