/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir='rtl'] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}
.slider {
  width: 100%;

  &-item {
    opacity: 0.5;
    margin-right: 48px;
    height: 400px;
    position: relative;
    cursor: pointer;
    &-img {
      width: calc(100% - 96px);
      height: 300px;
      border-radius: 8px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &-profileimg {
      position: absolute;
      right: 106px;
      bottom: 60px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: 100;
    }
    &-title {
      margin-top: 20px;
      font-family: 'Poppins-Bold';
      font-weight: 700;
      font-size: 26px;
      color: #f8f8f8;
      opacity: 0.7;
    }
    &-info {
      margin-top: 8px;
      font-family: 'Poppins-Regular';
      font-weight: 400;
      font-size: 16px;
      color: #f8f8f8;
    }
  }
  .slick-active {
    .slider-item {
      opacity: 1;
      transform: scale(1.08);
    }
    // &.slick-cloned {
    //   .slider-item {
    //     opacity: 0.7;
    //     transform: scale(1);
    //   }
    // }
  }
}
