.title {
  width: 100%;
  height: 45px;
  margin: 0 274px 23.5px 0;
  font-family: Poppins;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: #242a3c;
  border-bottom: solid 1px #e0e0e0;
}
.rc-pagination.ant-pagination {
  display: flex;
}
.rc-pagination button,
.rc-pagination li {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0 !important;
}
.rc-pagination .rc-pagination-item-active {
  border-radius: 20px;
  background-color: #ff45a1;
}
.rc-pagination li:hover {
  border-radius: 20px;
  background-color: #ff45a1;
}
.rc-pagination .rc-pagination-item-active a {
  color: #fff;
}
.rc-pagination-item-active:focus a,
.rc-pagination-item-active:hover a {
  color: #fff !important;
}
.rc-pagination-item:focus a,
.rc-pagination-item:hover a {
  color: #fff !important;
}
/* .rc-pagination-next button:after {
  font-size: 20px;
}
.rc-pagination-prev button:after {
  font-size: 20px;
} */
.rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-next .rc-pagination-item-link {
  font-size: 20px;
  padding-bottom: 5px;
}
