@import '../../base';

.jnav {
  @include row;
  @include limitWidth(1280);
  gap: 32px;
  height: 60px;
  box-sizing: border-box;

  &-menu {
    @include col;
    line-height: 20px;
    text-decoration: none;
    color: #a7a7a7;
    justify-content: center;

    &:active {
      display: flex;
      color: $color-primary100;
    }
    &:hover {
      display: flex;
      color: #545454;
    }

    &-active {
      color: $color-primary100;
      border-bottom: 4px solid $color-primary100;
    }
  }

  &-submenu {
    @include limitWidth(1280);
  }
}
