/* TODO: All  */
.fliter-position {
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 1000;
}

.root-center {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.none {
  display: none;
}

.relative {
  position: relative;
}

.container {
  width: 1280px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.container > .item:nth-child(1) {
  padding-right: 22px;
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}

.container > .item:nth-child(2) {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 24px;
}

.m-4 {
  margin: 32px;
}

.mr-6 {
  margin-right: 48px;
}

.mr-3 {
  margin-right: 24px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 24px;
}

.p-4 {
  padding: 32px;
}

.no-data {
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}
.no-data-title {
  font-family: "Poppins-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 48px;
  color: #242a3c;
}
.no-data-content {
  font-family: "Poppins-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #242a3c;
}

.color-BRONZE {
  color: #ec7a12;
}
.color-SILVER {
  color: #b5b5b5;
}
.color-GOLD {
  color: #ffc700;
}
.color-PLATINUM {
  color: #00877f;
}
.color-DIAMOND {
  color: #0017e3;
}
.color-LEGEND {
  color: #8701fe;
}

.scrollTop {
  position: fixed;
  top: 50%;
  right: 50px;
  background: #111111;
  -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.16);
          box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.16);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  cursor: pointer;
}

.error {
  width: 100%;
  height: calc(100vh - 100px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.error-title {
  font-size: 48px;
  margin-top: 36px;
  font-family: "Poppins-Bold";
}
.error-content {
  font-family: "Poppins-Light";
  line-height: 1.56;
  color: #a7a8ab;
  margin-top: 16px;
  text-align: center;
}
.error .actions {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.error .actions div {
  width: 220px;
  height: 56px;
  border-radius: 10px;
  font-family: "Poppins-Regular";
  font-size: 20px;
}
.error .actions .back {
  margin-right: 20px;
  border: solid 1px #8701fe;
  color: #8701fe;
}
.error .actions .home {
  color: #fff;
  background-color: #8701fe;
}