.text-field .title {
  height: 61px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: #242a3c;
}
.cgp-input {
  width: 200px;
  height: 26px;
  padding: 14.5px 260px 14.5px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #121212;
  border: solid 1px #e0e0e0;
  background-color: #fff;
}
.cgp-input::placeholder {
  color: #bdbdbd;
  font-weight: 400;
}
.cgp-input:disabled {
  border: solid 1px #e0e0e0;
  background-color: #f8f8f8;
  color: #bdbdbd;
}
.cgp-input:read-only {
  border: solid 1px #e0e0e0;
  background-color: #f8f8f8;
  color: #777;
}
.cgp-input:focus-visible {
  border: solid 1px #ff45a1;
  background-color: #fff;
  color: #121212;
  outline: 0;
}
.cgp-input.error {
  border: solid 1px #ff2a55;
}
.cgp-input.success {
  border: solid 1px #00b78b;
}
