/* TODO: All  */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.none {
  display: none;
}
.relative {
  position: relative;
}

/* TODO: Button */
.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  border-radius: 8px;
}
.button-contained {
  border: 0;
}

.button-Primary {
  color: white;
  background-color: #7d0edf;
  border-color: #7d0edf;
}
.button-Secondary {
  color: white;
  background-color: #6563ff;
  border-color: #6563ff;
}

.button-Point {
  color: white;
  background-color: #ed348f;
  border-color: #ed348f;
}
.button-contained:disabled {
  background-color: #cdcdd1;
}
.button-line {
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
}
.button-Primary.button-line {
  color: #7d0edf;
}
.button-line:disabled {
  border: solid 1px #cdcdd1;
  color: #cdcdd1;
}

.button-Secondary.button-line {
  color: #6563ff;
}

.button-Point.button-line {
  color: #ed348f;
}

.button-XL {
  font-size: 20px;
  padding: 0 20px;
  height: 56px;
}
.button-L {
  font-size: 17px;
  padding: 0 18px;
  height: 52px;
}
.button-M {
  font-size: 15px;
  padding: 0 20px;
  height: 48px;
}

.button-S {
  font-size: 14px;
  padding: 0 10px;
  height: 40px;
}

/* TODO: Filter */

.filter {
  width: 360px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #e0e0e0;
  background-color: #fff;
  border-radius: 8px;
}
.filter-conent {
  padding: 20px 20px 16px;
  border-bottom: 1px solid #e0e0e0;
}
.filter-title {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  color: #777;
}
.sort-box {
  box-sizing: border-box;
  flex-flow: row wrap;
}
.sort-box div {
  width: 127px;
  height: 40px;
  flex: 1 0 auto;
  border: solid 1px #e0e0e0;
  /* margin-right: -1px; */
  cursor: pointer;
}

.filter-box {
  font-family: Mplus1p;
  font-size: 13px;
  font-weight: 400;
  color: #121212;
}
.filter-box.active {
  border: 1px solid #9013fe;
  color: #9013fe;
  margin-right: 0px;
  font-weight: 500;
}
.date-box div {
  width: 74px;
  height: 40px;
  margin-right: -1px;
  border: solid 1px #e0e0e0;
  background-color: #fff;
  cursor: pointer;
}
.date-start {
  width: 127px;
  height: 40px;
  margin: 8px 4px 12px 11px;
  padding: 8px 6px 8px 14px;
  border-radius: 8px;
  border: solid 1px #e0e0e0;
  background-color: #fff;
}
.box-left {
  border-radius: 8px 0 0 8px;
}
.box-right {
  min-width: 106px;
  border-radius: 0 8px 8px 0;
}
.filter-hr {
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.keyword-input {
  width: 244px;
  height: 40px;
  padding: 0;
  padding-left: 14px;
  border-radius: 8px;
  background-color: #f8f8f8;
  border: 0;
  outline: 0;
}
.keyword-input::-webkit-input-placeholder {
  color: #a7a8ab;
}
.keyword-input::placeholder {
  color: #a7a8ab;
}
.keyword .seachIc img {
  width: 24px;
  height: 24px;
  margin-top: 2px;
  object-fit: cover;
  -webkit-filter: contrast(0.5);
          filter: contrast(0.5);
  cursor: pointer;
}
.filter-acctions {
  padding: 12px 20px;
}
.filter-done {
  width: 79px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #bdbdbd;
  background-color: #f8f8f8;
  font-size: 13px;
  font-weight: 500;
  color: #242a3c;
  cursor: pointer;
}
.filter-cancle {
  width: 45px;
  height: 19px;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.85;
  letter-spacing: -0.26px;
  color: #bdbdbd;
  cursor: pointer;
}

.calendar {
  margin: 8px 0 8px 62px;
}
.calendar p {
  display: none;
}
.calendar .MuiOutlinedInput-input {
  width: 109px;
  height: 38px;
  padding: 0;
  padding-left: 8px;
  border-radius: 10px;
  /* border: solid 1px #e0e0e0; */
  background-color: #fff;
  margin-left: 4px;
  outline: 0;
  color: #121212;
  font-size: 13px;
}
.MuiPickersDateRangePickerInput-rangeInputsContainer {
  gap: 16px;
}
.calendar .MuiFormHelperText-contained {
  display: none;
}
.calendar .WithStyles\(ForwardRef\(Typography\)\)-root-5 {
  margin: 0 4px;
}
.ic_calendar {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../../a680841321c842f53e82.svg);
  background-size: cover;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.calendar .relative:hover .ic_calendar {
  background-image: url(../../bd0379dee4c281989492.svg);
}
.MuiPickersDay-daySelected {
  background-color: #9013fe !important;
  color: #fff !important;
}
.MuiPickersDateRangeDay-rangeIntervalDayHighlight {
  background-color: #f4e7ff !important;
}
.MuiPickersDateRangeDay-rangeIntervalDayHighlight button {
  color: #242a3c;
}
.MuiPickersDesktopDateRangeCalendar-dateRangeContainer .MuiPickersDesktopDateRangeCalendar-calendar {
  min-height: 230px;
}
.active .ic_calendar {
  background-image: url(../../097a6d413b03aac6d83f.svg);
}
.ic_calendar:hover {
  background-image: url(../../bd0379dee4c281989492.svg);
}

/* TODO: Header */
.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 94px;
  background-color: #9013fe;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 94px;
  width: 1280px;
}

.menu {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  margin: 6px;
  object-fit: contain;
  cursor: pointer;
}
.menu:hover {
  background-color: #8022d5;
}
.menu:active {
  background-color: #ff45a1;
}
.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 4px;
  background-image: linear-gradient(141deg, #ffd300 14%, #ff45a1 86%);
}
.user-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #8022d5;
}
.loginBtn {
  width: 84px;
  height: 36px;
  border-radius: 18px;
  border: solid 1px #fff;
  font-family: NanumSquareRoundOTF;
  font-size: 16px;
  color: #fff;
  margin-right: 12px;
  cursor: pointer;
}
.seachBar {
  width: 400px;
  height: 44px;
  padding-left: 16px;
  border-radius: 8px;
  background-color: #7d0edf;
  border: 0;
  outline: 0;
  color: #fff;
}
.seachBar::-webkit-input-placeholder {
  opacity: 0.5;
  font-family: NanumSquareRoundOTF;
  font-size: 15px;
  color: #fff;
}
.seachBar::placeholder {
  opacity: 0.5;
  font-family: NanumSquareRoundOTF;
  font-size: 15px;
  color: #fff;
}
.seachIc {
  position: absolute;
  right: 6px;
  top: 6px;
}
.tootip {
  display: none;
  height: 23px;

  opacity: 0.8;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #121212;
  font-family: Poppins;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
}
.menu:hover .tootip {
  display: flex;
}
.tootip::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #121212;
  position: absolute;
  top: -18px;
}

/* TODO: Paginations */

.paginations .title {
  width: 100%;
  height: 32px;
  margin: 0 274px 23.5px 0;
  font-family: Poppins;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: #242a3c;
  border-bottom: solid 1px #e0e0e0;
}
.rc-pagination.ant-pagination {
  display: flex;
}
.rc-pagination button,
.rc-pagination li {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0 !important;
}
.rc-pagination .rc-pagination-item-active {
  border-radius: 20px;
  background-color: #ff45a1;
}
.rc-pagination li:hover {
  border-radius: 20px;
  background-color: #ff45a1;
}
.rc-pagination .rc-pagination-item-active a {
  color: #fff;
}
.rc-pagination-item-active:focus a,
.rc-pagination-item-active:hover a {
  color: #fff !important;
}
.rc-pagination-item:focus a,
.rc-pagination-item:hover a {
  color: #fff !important;
}
/* .rc-pagination-next button:after {
  font-size: 20px;
}
.rc-pagination-prev button:after {
  font-size: 20px;
} */
.rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-next .rc-pagination-item-link {
  font-size: 20px;
  padding-bottom: 5px;
}

/* TODO: TextTield */
.text-field .title {
  height: 61px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: #242a3c;
}
.cgp-input {
  width: 200px;
  height: 26px;
  padding: 14.5px 260px 14.5px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #121212;
  border: solid 1px #e0e0e0;
  background-color: #fff;
}
.cgp-input::-webkit-input-placeholder {
  color: #bdbdbd;
  font-weight: 400;
}
.cgp-input::placeholder {
  color: #bdbdbd;
  font-weight: 400;
}
.cgp-input:disabled {
  border: solid 1px #e0e0e0;
  background-color: #f8f8f8;
  color: #bdbdbd;
}
.cgp-input:read-only {
  border: solid 1px #e0e0e0;
  background-color: #f8f8f8;
  color: #777;
}
.cgp-input:focus-visible {
  border: solid 1px #ff45a1;
  background-color: #fff;
  color: #121212;
  outline: 0;
}
.cgp-input.error {
  border: solid 1px #ff2a55;
}
.cgp-input.success {
  border: solid 1px #00b78b;
}
.help-text {
  margin-top: 4px;
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: -0.26px;
  color: #777;
}
.help-text.error {
  color: #ff2a55;
}
.help-text.success {
  color: #00b78b;
}
.cgp-input-field {
  display: flex;
  flex-direction: column;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.rc-pagination {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.rc-pagination ul,
.rc-pagination ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.rc-pagination::after {
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ' ';
}
.rc-pagination-total-text {
  display: inline-block;
  height: 28px;
  margin-right: 8px;
  line-height: 26px;
  vertical-align: middle;
}
.rc-pagination-item {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  margin-right: 8px;
  font-family: Arial;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: 0;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.rc-pagination-item a {
  display: block;
  padding: 0 6px;
  color: rgba(0, 0, 0, 0.85);
  transition: none;
}
.rc-pagination-item a:hover {
  text-decoration: none;
}
.rc-pagination-item:focus,
.rc-pagination-item:hover {
  border-color: #1890ff;
  transition: all 0.3s;
}
.rc-pagination-item:focus a,
.rc-pagination-item:hover a {
  color: #1890ff;
}
.rc-pagination-item-active {
  font-weight: 500;
  background: #fff;
  border-color: #1890ff;
}
.rc-pagination-item-active a {
  color: #1890ff;
}
.rc-pagination-item-active:focus,
.rc-pagination-item-active:hover {
  border-color: #40a9ff;
}
.rc-pagination-item-active:focus a,
.rc-pagination-item-active:hover a {
  color: #40a9ff;
}
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  outline: 0;
}
.rc-pagination-jump-prev button,
.rc-pagination-jump-next button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #666;
}
.rc-pagination-jump-prev button:after,
.rc-pagination-jump-next button:after {
  display: block;
  content: '•••';
}
.rc-pagination-prev,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  margin-right: 8px;
}
.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Arial;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
.rc-pagination-prev,
.rc-pagination-next {
  outline: 0;
}
.rc-pagination-prev button,
.rc-pagination-next button {
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.rc-pagination-prev:hover button,
.rc-pagination-next:hover button {
  border-color: #40a9ff;
}
.rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-next .rc-pagination-item-link {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 12px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: none;
  transition: all 0.3s;
}
.rc-pagination-prev:focus .rc-pagination-item-link,
.rc-pagination-next:focus .rc-pagination-item-link,
.rc-pagination-prev:hover .rc-pagination-item-link,
.rc-pagination-next:hover .rc-pagination-item-link {
  color: #1890ff;
  border-color: #1890ff;
}
.rc-pagination-prev button:after {
  content: '‹';
  display: block;
}
.rc-pagination-next button:after {
  content: '›';
  display: block;
}
.rc-pagination-disabled,
.rc-pagination-disabled:hover,
.rc-pagination-disabled:focus {
  cursor: not-allowed;
}
.rc-pagination-disabled .rc-pagination-item-link,
.rc-pagination-disabled:hover .rc-pagination-item-link,
.rc-pagination-disabled:focus .rc-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.rc-pagination-slash {
  margin: 0 10px 0 5px;
}
.rc-pagination-options {
  display: inline-block;
  margin-left: 16px;
  vertical-align: middle;
}
@media all and (-ms-high-contrast: none) {
  .rc-pagination-options *::-ms-backdrop,
  .rc-pagination-options {
    vertical-align: top;
  }
}
.rc-pagination-options-size-changer.rc-select {
  display: inline-block;
  width: auto;
  margin-right: 8px;
}
.rc-pagination-options-quick-jumper {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  vertical-align: top;
}
.rc-pagination-options-quick-jumper input {
  width: 50px;
  margin: 0 8px;
}
.rc-pagination-simple .rc-pagination-prev,
.rc-pagination-simple .rc-pagination-next {
  height: 24px;
  line-height: 24px;
  vertical-align: top;
}
.rc-pagination-simple .rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-simple .rc-pagination-next .rc-pagination-item-link {
  height: 24px;
  background-color: transparent;
  border: 0;
}
.rc-pagination-simple .rc-pagination-prev .rc-pagination-item-link::after,
.rc-pagination-simple .rc-pagination-next .rc-pagination-item-link::after {
  height: 24px;
  line-height: 24px;
}
.rc-pagination-simple .rc-pagination-simple-pager {
  display: inline-block;
  height: 24px;
  margin-right: 8px;
}
.rc-pagination-simple .rc-pagination-simple-pager input {
  box-sizing: border-box;
  height: 100%;
  margin-right: 8px;
  padding: 0 6px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: none;
  transition: border-color 0.3s;
}
.rc-pagination-simple .rc-pagination-simple-pager input:hover {
  border-color: #1890ff;
}
.rc-pagination.rc-pagination-disabled {
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item {
  background: #f5f5f5;
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item a {
  color: rgba(0, 0, 0, 0.25);
  background: transparent;
  border: none;
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-active {
  background: #dbdbdb;
  border-color: transparent;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-active a {
  color: #fff;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  background: #f5f5f5;
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-link-icon {
  opacity: 0;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-ellipsis {
  opacity: 1;
}
@media only screen and (max-width: 992px) {
  .rc-pagination-item-after-jump-prev,
  .rc-pagination-item-before-jump-next {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .rc-pagination-options {
    display: none;
  }
}


/*# sourceMappingURL=main.3e96916b.css.map*/