@import '../base';
@import '../resource';

.jcheckbox {
  @include row;

  &-image-wrapper {
    @include row;
    @include flexCenter;
    cursor: pointer;
    padding: 3px;
    &-checked {
      &:hover {
        img {
          border: 3px solid rgba(244, 19, 254, 0.2);
        }
      }
    }
    &-default {
      &:hover {
        img {
          border: 3px solid rgba(224, 224, 224, 0.5);
        }
      }
    }

    // &:hover {
    //   background-color: black;
    //   .image-wrapper-checked {
    //     img {
    //       border: 10px solid rgba(224, 224, 224, 0.5);
    //     }
    //   }
    //   .image-wrapper-default {
    //     img {
    //       border: 10px solid rgba(244, 19, 254, 0.2);
    //     }
    //   }
    // }
  }
}
