@import '../base';
@import '../resource';

.admin-boards {
  @include row;
  height: 1178px;
  background-color: white;
  border-radius: 20px;
  margin: 20px 0 100px 0;
  color: $black100;

  &-sidebar {
    width: 300px;
    border-right: 1px solid $gray200;

    &-add-group-button {
      &-wrapper {
        @include row;
        padding: 20px;
        border-bottom: 1px solid $gray200;
      }
    }

    @mixin boardItem {
      @include row;
      align-items: center;
      cursor: pointer;

      &-selected {
        background-color: $gray100;
      }

      &:hover {
        background-color: $gray100;
      }
      &:hover &-option {
        display: flex;
      }

      &-option {
        @include row;
        display: none;
        margin: 0 8px;
        &-active {
          display: flex;
          :nth-child(1) {
            background-color: $gray200;
          }
        }
      }

      img {
        width: 34px;
        height: 34px;
        padding: 2px;
        border-radius: 6px;
        margin-left: 4px;

        &:hover {
          background-color: $gray200;
        }
      }
    }

    &-boardGroup {
      @include boardItem();
      border-top: 1px solid $gray200;
      height: 60px;

      &-title {
        margin-top: 2px;
        flex: 1;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        &-disabled {
          color: $gray400;
        }
      }
      .extend-image {
        margin: 0 6px 0 20px;
      }
    }

    &-board {
      @include boardItem;
      height: 52px;

      &-title {
        flex: 1;
        margin-left: 62px;
        font-size: 16px;
        line-height: 26px;
        color: $gray700;
        &-disabled {
          color: $gray400;
        }
      }
    }
  }

  &-info {
    flex: 1;
    &-wrapper {
      flex: 1;
      padding: 40px 30px 70px 30px;
      overflow: auto;
      // align-items: center;
    }

    &-section {
      margin-bottom: 60px;
    }

    color: $black100;

    &-label {
      margin-bottom: 4px;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      &-description {
        margin-bottom: 10px;
        font-size: 13px;
        line-height: 20px;
        color: $gray600;
      }
    }

    &-activation {
      &-container {
        @include row;
        gap: 4px;
      }

      @mixin activation {
        @include row;
        width: 140px;
        height: 40px;
        border-radius: 6px;
        align-items: center;
        padding: 0 10px;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 13px;
        line-height: 24px;
        &:hover {
          opacity: 0.8;
        }

        &-icon {
          width: 18px;
          height: 18px;
          border-radius: 9px;
          margin: 3px;
          padding: 2px;
          box-sizing: border-box;
          &::after {
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 6px;
            box-sizing: border-box;
          }
        }
        &-label {
          flex: 1;
          align-items: center;
        }
      }

      &-activate {
        @include activation;
        border: 1px solid $color-success100;
        color: $black100;

        &-icon {
          border: 1px solid $color-success100;

          &::after {
            background-color: $color-success100;
          }
        }
      }

      &-deactivate {
        @include activation;
        background-color: $gray100;
        color: $gray500;

        &-icon {
          box-sizing: border-box;
          border: 1px solid $gray500;
        }
      }
    }

    &-name {
      &-container {
        position: relative;
      }
      &-input {
        @include row;
        align-items: flex-end;
      }

      width: 410px;
      height: 40px;
      background: #ffffff;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      padding: 0 14px;
      font-size: 13px;
      line-height: 24px;

      &-focus {
        border: 1px solid $color-point100;
      }
      &-error {
        border: 1px solid $color-error100;
      }
      &-disabled {
        background-color: $gray400;
      }

      &-error-message {
        margin-top: 6px;
        font-size: 13px;
        line-height: 24px;
        color: $color-error100;
        position: absolute;
        top: 36px;
      }

      input {
        border: none;
        outline: none;
        flex: 1;
        &::placeholder {
          color: $gray500;
        }
        &:disabled {
          background-color: $gray400;
          color: white;
        }
      }

      &-length {
        margin-left: 6px;
        font-size: 14px;
        line-height: 24px;
        color: $gray500;
      }
    }

    &-description {
      &-container {
        @include row;
        align-items: flex-end;
      }

      textarea {
        font-size: 13px;
        line-height: 24px;
        resize: none;
        width: 410px;
        height: 90px;
        padding: 8px 14px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid $gray300;
        &::placeholder {
          color: $gray500;
        }
      }

      &-length {
        margin-left: 6px;
        font-size: 14px;
        line-height: 24px;
        color: $gray500;
      }
    }

    &-permission {
      &-container {
        margin-top: 10px;
        margin-bottom: 40px;
        gap: 50px;
      }

      @include row;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      &-disabled {
        color: $gray500;
      }

      &-label {
        width: 60px;
      }

      &-select-wrapper {
        width: 130px;
      }
      &-grade {
        width: 100px;
        margin-left: 150px;
      }
    }

    &-view-mode {
      &-container {
        @include row;
        justify-content: space-evenly;
      }

      &-type {
        width: 280px;
        height: 94px;
        padding: 10px 60px;
        border-radius: 4px;
        border: 1px solid $gray300;
        color: $gray600;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        &-hover {
          opacity: 0.7;
        }

        &-active {
          border: 1px solid $color-success100;
          color: $color-success100;
        }

        img {
          width: 24px;
          height: 24px;
          margin-right: 4px;
        }
        &-title {
          @include row;
          align-items: flex-end;
          font-weight: 600;
          font-size: 18px;
          line-height: 20px;
        }
        &-description {
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;
          margin-top: 4px;
        }
      }

      &-preview {
        margin-top: 15px;
        height: 960px;
      }
    }

    &-merge-wrapper {
      align-items: flex-end;
      margin: 0 30px 60px 0;
    }

    &-bottom-container {
      @include row;
      justify-content: center;
      gap: 8px;
    }
  }
}

.boards-content-init {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 150px;
  box-sizing: border-box;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 73px;
  text-align: center;
  letter-spacing: -0.015em;
  margin-top: 412px;

  color: #d1d1d1;
}
