.admin-post {
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 200px;
}
.admin-post-title {
  margin-top: 30px;
}
.admin-post-subtitle {
  margin-top: 4px;
}
.admin-post .post-table {
  display: flex;
  flex-direction: column;
  height: 630px;
}
.admin-post .post-table-layout {
  display: flex;
  flex-direction: column;
}
.admin-post .post-table-filter-wrapper {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 0 80px 16px 0;
  box-sizing: border-box;
  justify-content: flex-end;
  height: 48px;
}
.admin-post .post-table-filter-selector {
  width: 220px;
  height: 32px;
  background: #efefef;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 8px 8px 8px 16px;
  gap: 8px;
  margin-right: 20px;
}
.admin-post .post-table-filter-advanced-button {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-color: #9013fe;
}
.admin-post .post-table-header {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 0 140px 0 90px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
}
.admin-post .post-table-header-board-selector {
  width: 328px;
  height: 32px;
  padding-left: 12px;
  border: 2px solid #dde1e6;
  outline: none;
  border-radius: 8px;
}
.admin-post .post-table-header-button-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.admin-post .post-table-header-button-wrapper .active-button {
  width: 90px;
  height: 32px;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.538021px;
  color: #ffffff;
  background: #8801fe;
}
.admin-post .post-table-header-button-wrapper .deactive-button {
  width: 90px;
  height: 32px;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.538021px;
  color: #ffffff;
  background: black;
}
.admin-post .post-table-columns {
  height: 40px;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 90px;
  border-bottom: 1px solid #eeeeee;
}
.admin-post .post-table-column {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.admin-post .post-table-column-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 8px;
  letter-spacing: 0.538021px;
  color: #000000;
  margin-top: 2px;
}
.admin-post .post-table-column-sorting {
  display: flex;
  flex-direction: column;
}
.admin-post .post-table-column-sorting img:first-child {
  padding: 6px 4px 0 4px;
}
.admin-post .post-table-column-sorting img:last-child {
  padding: 0 4px 6px 4px;
}
.admin-post .post-table-column-sorting img {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.admin-post .post-table-row {
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
  padding-left: 90px;
  border-bottom: 1px solid #eeeeee;
}
.admin-post .post-table-row-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  margin-top: 2px;
}
.admin-post .post-table-footer {
  height: 60px;
  background-color: #f1f1f1;
}
.admin-post .data-grid-wrapper {
  height: 630px;
  background-color: pink;
}/*# sourceMappingURL=posts.css.map */