.admin-reports {
  width: 1280px;
  margin: 0 auto;
  margin-top: 40px;
  height: 1080px;
}
.admin-reports-table-header {
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: #f1f1f1;
  gap: 10px;
  padding: 20px;
  padding-bottom: 32px;
  box-sizing: border-box;
}
.admin-reports-table-header :nth-child(1) {
  width: 350px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  display: flex;
  padding: 15px;
  box-sizing: border-box;
  outline: none;
}
.admin-reports-table-header :nth-child(2) {
  width: 200px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  display: flex;
  padding: 15px;
  box-sizing: border-box;
  outline: none;
}
.admin-reports-table-header :nth-child(3) {
  width: 200px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  display: flex;
  padding: 15px;
  box-sizing: border-box;
  outline: none;
}
.admin-reports-table-header :nth-child(4) {
  width: 150px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  display: flex;
  padding: 15px;
  box-sizing: border-box;
  outline: none;
}
.admin-reports-table-header :nth-child(5) {
  width: 150px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  display: flex;
  padding: 15px;
  box-sizing: border-box;
  outline: none;
}
.admin-reports-table-header :nth-child(7) {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 64px;
  height: 50px;
  background: #8422f4;
  border-radius: 8px;
}
.admin-reports-table-header :nth-child(7) img {
  border: none;
  height: 55px;
}
.admin-reports-table-wrapper {
  display: flex;
  flex-direction: column;
  height: 630px;
  overflow: auto;
}
.admin-reports-empty {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: #d5d5d5;
}
.admin-reports-empty :nth-child(1) {
  margin-top: 100px;
  font-size: 70px;
}
.admin-reports-empty :nth-child(2) {
  margin: -20px 0 10px 0;
  font-size: 160px;
}
.admin-reports-empty :nth-child(3) {
  font-size: 40px;
}
.admin-reports-empty :nth-child(4) {
  font-size: 16px;
}
.admin-reports-board-layout {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-reports-board-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 8px;
  cursor: pointer;
}
.admin-reports-content-layout {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
}
.admin-reports-content-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
  word-break: break-all;
}
.admin-reports .report-count {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-reports .report-count-button {
  cursor: pointer;
}
.admin-reports .report-count-label {
  padding: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #ff2020;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.admin-reports .activation-switch {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-reports .activation-switch-label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  width: 50px;
  text-align: center;
  color: #000000;
  margin-right: 10px;
}

.admin-reports-setting {
  width: 1280px;
  margin: 0 auto;
  height: 1080px;
}
.admin-reports-setting div {
  display: flex;
}
.admin-reports-setting-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 30px;
}
.admin-reports-setting-choices-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.admin-reports-setting-choice-item-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.admin-reports-setting-choice-item-more-button {
  background-color: #9013fe;
}
.admin-reports-setting-choice-input-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.admin-reports-setting-submit-container {
  margin-top: 120px;
}

.report-info-popover {
  width: 648px;
  height: 300px;
  background-color: #f1f1f1;
  border: 1px solid #999999;
  border-radius: 0;
  padding: 14px;
}
.report-info-popover .close-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.report-info-popover .close-button-wrapper img {
  cursor: pointer;
}
.report-info-popover .report-table {
  padding: 0 16px;
}
.report-info-popover .report-table-columns {
  display: flex;
  flex-direction: row;
  height: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  border-bottom: 1px solid white;
}
.report-info-popover .report-table-columns > div:nth-child(1) {
  width: 60px;
}
.report-info-popover .report-table-columns > div:nth-child(2) {
  width: 150px;
}
.report-info-popover .report-table-columns > div:nth-child(3) {
  width: 280px;
}
.report-info-popover .report-table-columns > div:nth-child(4) {
  width: 120px;
}
.report-info-popover .report-table-rows {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.report-info-popover .report-table-row {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  font-family: "Poppins";
  color: #000000;
  border-bottom: 1px solid white;
}
.report-info-popover .report-table-row > div:nth-child(1) {
  width: 60px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding-left: 5px;
  box-sizing: border-box;
}
.report-info-popover .report-table-row > div:nth-child(2) {
  width: 150px;
}
.report-info-popover .report-table-row > div:nth-child(3) {
  width: 280px;
}
.report-info-popover .report-table-row > div:nth-child(4) {
  width: 120px;
}

.contents-activation {
  color: #000000;
}
.contents-activation .exit-image {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}
.contents-activation-title {
  font-weight: 700;
  font-size: 20px;
}
.contents-activation-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
}
.contents-activation-reason-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 40px;
}
.contents-activation-reason-button {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #484848;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
}
.contents-activation-reason-button-selected {
  background-color: #9013fe;
  color: white;
}
.contents-activation-reason-explain {
  padding: 25px;
  margin-top: 40px;
  background: #f8f8f8;
  border-radius: 20px;
}
.contents-activation-reason-explain-title {
  font-weight: 700;
  font-size: 16px;
}
.contents-activation-reason-explain-description {
  margin-top: 12px;
  font-weight: 500;
  font-size: 14px;
}
.contents-activation-additional-wrapper {
  margin-top: 40px;
}
.contents-activation-additional-title {
  font-weight: 700;
  font-size: 16px;
}
.contents-activation-additional-textarea {
  flex: 1;
  resize: none;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  min-height: 140px;
  padding: 14px;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  outline: none;
}
.contents-activation-additional-textarea-layout {
  display: flex;
  margin-top: 13px;
}
.contents-activation-additional-textarea::-moz-placeholder {
  color: #bdbdbd;
}
.contents-activation-additional-textarea:-ms-input-placeholder {
  color: #bdbdbd;
}
.contents-activation-additional-textarea::placeholder {
  color: #bdbdbd;
}
.contents-activation-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.report-history-dialog-table-wrapper {
  display: flex;
  flex-direction: column;
  height: 220px;
  overflow: auto;
}
.report-history-dialog hr {
  padding: 0;
  margin: 0;
  margin-left: -20px;
  width: calc(100% + 40px);
  height: 1px;
  border: none;
  outline: none;
  background-color: #e0e0e0;
}
.report-history-dialog-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}/*# sourceMappingURL=reports.css.map */