@charset "UTF-8";
/* Setting */
/* Color */
/* Font */
/* 가상 선택자 content, display 설정 */
/* Title */
.h2Type.kor, .h2Type.cha, .h2Type.eng {
  font-size: 44px;
  color: #242A3C;
  letter-spacing: -0.88px;
  line-height: 48px;
}

.h3Type.kor, .h3Type.cha, .h3Type.eng {
  font-size: 40px;
  color: #242A3C;
  letter-spacing: -0.8px;
  line-height: 48px;
}

.h4Type.kor, .h4Type.cha, .h4Type.eng {
  font-size: 26px;
  color: #242A3C;
  letter-spacing: -0.52px;
  line-height: 32px;
}

.bodytitle.p1.kor, .bodytitle.p1.cha, .bodytitle.p1.eng {
  font-size: 18px;
  color: #121212;
  letter-spacing: -0.36px;
  line-height: 24px;
}

.bodytitle.p2.kor, .bodytitle.p2.cha, .bodytitle.p2.eng {
  font-size: 16px;
  color: #121212;
  letter-spacing: -0.32px;
  line-height: 20px;
}

.bodytitle.p4.kor, .bodytitle.p4.cha, .bodytitle.p4.eng {
  font-size: 14px;
  color: #121212;
  letter-spacing: -0.28px;
  line-height: 20px;
}

.des.kor, .des.cha, .des.eng {
  font-size: 13px;
  color: #121212;
  letter-spacing: -0.26px;
  line-height: 17px;
}

/* Title */
.h2Type.eng {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.h2Type.cha {
  font-family: "M_PLUS_1p", sans-serif;
  font-weight: 800;
}
.h2Type.kor {
  font-family: "NanumSquareRound", sans-serif;
  font-weight: 800;
}

.h3Type.eng {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.h3Type.cha {
  font-family: "M_PLUS_1p", sans-serif;
  font-weight: 800;
}
.h3Type.kor {
  font-family: "NanumSquareRound", sans-serif;
  font-weight: 800;
}

.h4Type.eng {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.h4Type.cha {
  font-family: "M_PLUS_1p", sans-serif;
  font-weight: bold;
}
.h4Type.kor {
  font-family: "NanumSquareRound", sans-serif;
  font-weight: bold;
}

.bodytitle.p1.eng {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.bodytitle.p1.cha {
  font-family: "M_PLUS_1p", sans-serif;
  font-weight: 500;
}
.bodytitle.p1.kor {
  font-family: "NanumSquareRound", sans-serif;
  font-weight: bold;
}

.bodytitle.p2.eng {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.bodytitle.p2.cha {
  font-family: "M_PLUS_1p", sans-serif;
  font-weight: bold;
}
.bodytitle.p2.kor {
  font-family: "NanumSquareRound", sans-serif;
  font-weight: 800;
}

.bodytitle.p4.eng {
  font-family: "Poppins", sans-serif;
}
.bodytitle.p4.cha {
  font-family: "M_PLUS_1p", sans-serif;
}
.bodytitle.p4.kor {
  font-family: "NanumSquareRound", sans-serif;
}

.des.eng {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
.des.cha {
  font-family: "M_PLUS_1p", sans-serif;
  font-weight: normal;
}
.des.kor {
  font-family: "NanumSquareRound", sans-serif;
  font-weight: normal;
}

/* 스크롤 디자인 */
/* Placeholder */
/* Input reset Icon */
/* 말줄임 */
/* Logo Color */
/* Tooltip Arrow */
/* 나라별 국기 */
/* text border */
.login_wrap {
  margin: 0 auto;
  padding-top: 88px;
  width: 408px;
}
.login_wrap .login_logo {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100px;
}
.login_wrap .login_logo:before {
  content: "";
  clear: both;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 100px;
  background: url("../img/com/logo_pp.svg") no-repeat center center/180px 100px;
  left: 50%;
  transform: translateX(-50%);
}
.login_wrap .login_captcha {
  margin-top: 24px;
  background: #F9F9F9;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
  padding: 20px;
}
.login_wrap .login_input {
  margin-top: 40px;
  width: 100%;
  position: relative;
}
.login_wrap .login_input .form_wrap + .form_wrap {
  margin-top: 12px;
}
.login_wrap .login_input .page_btn_wrap {
  margin-top: 28px;
}
.login_wrap .login_input .login_text_link {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_wrap .login_input .login_text_link button span {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.28px;
  color: #121212;
  text-decoration: none;
}
.login_wrap .login_input .login_text_link button:hover span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #9013FE;
  text-decoration: underline;
}
.login_wrap .login_input .login_text_link button + button {
  position: relative;
  margin-left: 33px;
}
.login_wrap .login_input .login_text_link button + button:before {
  content: "";
  clear: both;
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 10px;
  top: 7px;
  left: -16px;
  background: #CDCDD1;
}
.login_wrap .login_input .login_line {
  margin-top: 40px;
}
.login_wrap .login_input .sns_login {
  margin-top: 32px;
  text-align: center;
}
.login_wrap .login_input .sns_login button + button {
  margin-left: 20px;
}
.login_wrap .login_line {
  border-bottom: 1px solid #E0E0E0;
  height: 11px;
  position: relative;
}
.login_wrap .login_line span {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: #BDBDBD;
  display: inline-block;
  position: absolute;
  padding: 0 16px;
  background: #F8F8F8;
  left: 50%;
  transform: translateX(-50%);
}
.login_wrap .join_text {
  text-align: center;
  margin-top: 32px;
}
.login_wrap .join_text span {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.34px;
}
.login_wrap .btn_group {
  margin-top: 40px;
}
.login_wrap .btn_group button + button {
  margin-left: 0;
  margin-top: 12px;
}
.login_wrap .btn_group .login_line {
  margin-top: 32px;
}
.login_wrap .btn_group button {
  width: 100%;
}
.login_wrap .btn_group button.google {
  background: #FFF;
  border: 1px solid #CDCDD1;
  position: relative;
  margin-top: 38px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #777777;
}
.login_wrap .btn_group button.google:before {
  content: "";
  clear: both;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/ico/ic_google.png") no-repeat center center/24px 24px;
}
.login_wrap .btn_group button.twitter {
  background: #55acee;
  border: 1px solid #55acee;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #FFF;
}
.login_wrap .btn_group button.twitter:before {
  content: "";
  clear: both;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/ico/ic_twitter.png") no-repeat center center/24px 24px;
}
.login_wrap .btn_group button.facebook {
  background: #304d8a;
  border: 1px solid #304d8a;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #FFF;
}
.login_wrap .btn_group button.facebook:before {
  content: "";
  clear: both;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/ico/ic_facebook.png") no-repeat center center/24px 24px;
}
.login_wrap .btn_group button.apple {
  background: #000;
  border: 1px solid #000;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #FFF;
}
.login_wrap .btn_group button.apple:before {
  content: "";
  clear: both;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/ico/ic_apple.png") no-repeat center center/24px 24px;
}
.login_wrap .join_link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.login_wrap .join_link span {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.28px;
  color: #121212;
}
.login_wrap .join_link .color span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  margin-left: 8px;
  text-decoration: underline;
  color: #9013FE;
}
.login_wrap .signup {
  text-align: center;
}
.login_wrap .signup span {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: #121212;
  text-align: center;
  margin-top: 20px;
}
.login_wrap .auth_wrap {
  padding-bottom: 32px;
  border-bottom: 1px solid #E0E0E0;
}
.login_wrap .btn_set {
  margin-top: 40px;
}
.login_wrap .btn_set .form_cell .input_set {
  position: relative;
  width: 264px;
}
.login_wrap .btn_set .form_cell .input_set input {
  width: 264px;
}
.login_wrap .btn_set .form_cell .btn.primary {
  width: 140px;
  margin-left: 4px;
}
.login_wrap .btn_set .form_cell + .form_cell {
  margin-top: 8px;
}
.login_wrap .btn_set .form_cell:nth-child(3) {
  margin-top: 8px;
}
.login_wrap .btn_set.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login_wrap .btn_set_under {
  margin-top: 40px;
  padding-bottom: 32px;
  border-bottom: 1px solid #E0E0E0;
}
.login_wrap .join_check {
  margin-top: 28px;
}
.login_wrap .join_check .form_check label span {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.28px;
}
.login_wrap .join_check .form_check label .color span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.32px;
  text-decoration: underline;
  color: #9013FE;
  margin-left: 0px !important;
}
.login_wrap .join_next {
  width: 100%;
  margin-top: 28px;
}
.login_wrap .sign_name label,
.login_wrap .sign_pass label {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: #777777;
}
.login_wrap .sign_name {
  margin-top: 40px;
}
.login_wrap .sign_pass {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login_wrap .join_end {
  position: relative;
  height: 200px;
  margin-bottom: 16px;
}
.login_wrap .join_end:before {
  content: "";
  clear: both;
  display: inline-block;
  width: 340px;
  height: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: url("../img/com/img_Membership.png") no-repeat center center/340px 200px;
}
.login_wrap .end_info {
  margin-top: 40px;
  background: #FFF;
  padding: 28px 24px 32px 24px;
  border-radius: 20px;
}
.login_wrap .end_info dl {
  display: flex;
  align-items: flex-start;
  width: 360px;
}
.login_wrap .end_info dl:last-child {
  margin-top: 20px;
}
.login_wrap .end_info dl dt {
  width: 88px;
}
.login_wrap .end_info dl dt span {
  width: 88px;
  display: inline-block;
  height: 28px;
  padding-top: 4px;
  border-radius: 14px;
  background: #F8F8F8;
  color: #FF45A1;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.login_wrap .end_info dl dd {
  padding-left: 4px;
  display: inline-block;
  width: 272px;
  word-wrap: break-word;
}
.login_wrap .end_info dl dd.id {
  color: #9013FE;
  position: relative;
}
.login_wrap .end_info dl dd.id.sns {
  padding-left: 32px;
}
.login_wrap .end_info dl dd.id.sns:before {
  content: "";
  clear: both;
  display: inline-block;
  width: 28px;
  height: 28px;
  left: 0;
  top: 0;
  position: absolute;
  background: url("../img/ico/ic_circle_twitter.png") no-repeat center center/28px 28px;
}
.login_wrap .end_info dl dd.nick {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.28px;
  color: #A7A8AB;
}
.login_wrap .end_info dl dd.nick span {
  display: inline-block;
  margin-bottom: 8px;
  line-height: 36px;
  color: #777777;
}
.login_wrap .terms_agree {
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 20px;
}
.login_wrap .terms_agree input[type=checkbox] + label span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  top: -5px;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.36px;
  color: #121212;
}

/* Account Setting */
.content h3.center {
  text-align: center;
  margin: 20px 0 40px;
}
.content .layer {
  position: relative;
}
.content .layer .layer_block {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #F8F8F8;
  opacity: 0.8;
  z-index: 11;
}
.content .nickname .form_wrap {
  margin: 20px 0;
}
.content .nickname .form_wrap .nickname_set {
  position: relative;
}
.content .nickname .form_wrap .nickname_set input {
  width: 378px;
}
.content .nickname .form_wrap .align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .nickname .form_wrap .align .num01 {
  position: relative;
}
.content .nickname .form_wrap .align .num01 input {
  width: 298px;
}
.content .nickname .form_wrap .align .num02 input {
  width: 100px;
}
.content .nickname .form_wrap .align .btn {
  width: 164px;
}
.content .nickname .form_wrap .fix_nick {
  position: relative;
}
.content .nickname .form_wrap .fix_nick input {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  color: #9013FE;
  text-align: center;
}
.content .nickname .form_wrap .fix_nick .fix_ico:before {
  content: "";
  clear: both;
  display: inline-block;
  width: 24px;
  height: 24px;
  top: 14px;
  right: 14px;
  position: absolute;
  background: url("../img/ico/ic_fixpin_gr.png") no-repeat center center/24px 24px;
}
.content .account_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.content .account_title .btn_modify {
  position: relative;
}
.content .account_title .btn_modify.none:before {
  content: "";
  clear: both;
  display: inline-block;
  background: none;
}
.content .account_title .btn_modify.none:hover:before {
  content: "";
  clear: both;
  display: inline-block;
  background: none;
}
.content .account_title .btn_modify span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -0.34px;
  color: #BDBDBD;
}
.content .account_title .btn_modify:before {
  content: "";
  clear: both;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -26px;
  bottom: 2px;
  background: url("../img/ico/ic_edit_gr_b.png") no-repeat center center/24px 24px;
}
.content .account_title .btn_modify:hover span {
  color: #242A3C;
}
.content .account_title .btn_modify:hover:before {
  background: url("../img/ico/ic_edit_bk_b.png") no-repeat center center/24px 24px;
}
.content .account .form_wrap.msg + .form_wrap.msg {
  margin-top: 8px;
}
.content .account .account_label {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: #777777;
}
.content .account .account_label + .HGroup {
  margin-top: 0px;
}
.content .account .account_label + .HGroup input {
  width: 426px;
}
.content .account .account_label + .HGroup .btn {
  width: 140px;
}
.content .account .form_wrap + .form_wrap {
  margin-top: 24px;
}
.content .account .account_set {
  position: relative;
}
.content .account .account_set input {
  width: 376px;
}
.content .account .account_set + .btn {
  width: 190px;
}
.content .account .form_wrap.regist {
  margin-bottom: 40px;
  padding-bottom: 32px;
  border-bottom: 1px solid #E0E0E0;
}
.content .account .form_wrap .HGroup {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}
.content .account .form_wrap .HGroup.toggle {
  margin-top: 12px;
}
.content .account .form_wrap .HGroup + .msg {
  margin-top: -16px;
}
.content .account .form_wrap .HGroup .form_cell + .form_cell {
  margin-left: 60px;
}
.content .account .form_wrap .HGroup .type_toggle {
  display: inline-flex;
  align-items: center;
  width: auto;
}
.content .account .form_wrap .HGroup .type_toggle span {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  display: block !important;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: #121212;
  margin-right: 12px;
}
.content .account .form_wrap .HGroup .tel .select.tel {
  width: 100px !important;
}
.content .account .form_wrap .HGroup .tel .input_set {
  position: relative;
  width: 322px;
}
.content .account .form_wrap .HGroup .tel .input_set input {
  width: 322px;
}
.content .account .form_wrap .HGroup .tel .btn.primary {
  width: 140px;
  margin-left: 4px;
}
.content .account .form_wrap.sign_name .form_cell {
  width: calc((100% - 4px) / 2);
}
.content .account .form_wrap.sign_name .form_cell input {
  width: 100%;
}
.content .account .form_wrap.sign_name .form_cell + .form_cell {
  margin-left: 4px;
}
.content .account .form_wrap.account .input_set {
  position: relative;
}
.content .account .form_wrap.account .input_set input {
  width: 426px;
}
.content .account .form_wrap.account .btn {
  width: 140px;
}
.content .account .form_wrap.account .tel .select.tel {
  width: 100px !important;
}
.content .account .form_wrap.account .tel input {
  width: 322px;
  margin-right: 4px;
}
.content .account .form_wrap.account .tel .btn {
  width: 140px;
}
.content .account .login_captcha {
  margin-top: 24px;
  background: #F9F9F9;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
  padding: 20px;
}
.content .account .join_check {
  margin-top: 28px;
}
.content .account .join_check .form_check label span {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.28px;
}
.content .account .join_check .form_check label .color span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.32px;
  text-decoration: underline;
  color: #9013FE;
  margin-left: 0px !important;
}
.content .account .sign_pass {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .account .page_btn_wrap {
  margin-top: 28px;
}
.content .interworking .inter_text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.28px;
  color: #545557;
  display: inline-block;
  margin-top: 8px;
}
.content .interworking .sns_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.content .interworking .sns_list li {
  display: inline-block;
  width: 128px;
  height: 128px;
  border-radius: 16px;
  padding: 10px;
  text-align: center;
  position: relative;
}
.content .interworking .sns_list li .btn {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 108px;
  z-index: 10;
}
.content .interworking .sns_list li dl {
  margin-top: 14px;
}
.content .interworking .sns_list li dl .logo {
  position: relative;
  height: 32px;
}
.content .interworking .sns_list li dl .logo:before {
  content: "";
  clear: both;
  display: inline-block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.content .interworking .sns_list li dl .join_date {
  display: inline-block;
  margin: 4px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #FFF;
}
.content .interworking .sns_list li dl .join_date.connect {
  position: relative;
  padding-left: 18px;
}
.content .interworking .sns_list li dl .join_date.connect:before {
  content: "";
  clear: both;
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../img/ico/ic_link_sm_wh.png") no-repeat center center/16px 16px;
}
.content .interworking .sns_list li .connect_leyer {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  padding: 24px 10px 10px 10px;
  text-align: center;
}
.content .interworking .sns_list li .connect_leyer span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.26px;
}
.content .interworking .sns_list li.connect:hover .connect_leyer {
  display: block;
}
.content .interworking .sns_list li.google {
  background: #FFF;
  border: 1px solid #CDCDD1;
}
.content .interworking .sns_list li.google:hover {
  background: #EEEEEE;
}
.content .interworking .sns_list li.google .connect_leyer {
  background: rgba(238, 238, 238, 0.9);
}
.content .interworking .sns_list li.google .connect_leyer span {
  color: #242A3C;
}
.content .interworking .sns_list li.google dl .logo:before {
  background: url("../img/ico/ic_google.png") no-repeat center center/32px 32px;
}
.content .interworking .sns_list li.google dl .join_date {
  color: #242A3C;
}
.content .interworking .sns_list li.google dl .join_date.connect:before {
  background: url("../img/ico/ic_link_sm_bk.png") no-repeat center center/16px 16px;
}
.content .interworking .sns_list li.twitter {
  background: #55acee;
}
.content .interworking .sns_list li.twitter:hover {
  background: #2f96e5;
}
.content .interworking .sns_list li.twitter .connect_leyer {
  background: rgba(47, 150, 229, 0.9);
}
.content .interworking .sns_list li.twitter .connect_leyer span {
  color: #FFF;
}
.content .interworking .sns_list li.twitter dl .logo:before {
  background: url("../img/ico/ic_twitter.png") no-repeat center center/32px 32px;
}
.content .interworking .sns_list li.facebook {
  background: #304d8a;
}
.content .interworking .sns_list li.facebook:hover {
  background: #1f386c;
}
.content .interworking .sns_list li.facebook .connect_leyer {
  background: rgba(31, 56, 108, 0.9);
}
.content .interworking .sns_list li.facebook .connect_leyer span {
  color: #FFF;
}
.content .interworking .sns_list li.facebook dl .logo:before {
  background: url("../img/ico/ic_facebook.png") no-repeat center center/32px 32px;
}
.content .interworking .sns_list li.apple {
  background: #000;
}
.content .interworking .sns_list li.apple:hover {
  background: #393a3c;
}
.content .interworking .sns_list li.apple .connect_leyer {
  background: rgba(57, 58, 60, 0.9);
}
.content .interworking .sns_list li.apple .connect_leyer span {
  color: #FFF;
}
.content .interworking .sns_list li.apple dl .logo:before {
  background: url("../img/ico/ic_apple.png") no-repeat center center/32px 32px;
}
.content .delete_text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.28px;
  color: #545557;
  margin-top: 4px;
  margin-bottom: 20px;
}
.content .delete_box {
  background: #F8F8F8;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}
.content .delete_box dl + dl {
  margin-top: 20px;
}
.content .delete_box dl dt {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: #777777;
}
.content .delete_box dl dd {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.28px;
  color: #777777;
  margin-top: 4px;
}
.content .delete_warning {
  background: rgba(255, 249, 222, 0.95);
  border: 1px solid #FFD300;
  border-radius: 8px;
  margin-top: 24px;
  padding: 20px 16px;
}
.content .delete_warning .delete_warning_text {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.28px;
  color: #b46f00;
  display: block;
  padding-left: 26px;
}
.content .delete_warning .delete_warning_text:before {
  content: "";
  clear: both;
  display: inline-block;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../img/ico/ic_warning_y.png") no-repeat center center/20px 20px;
}
.content .form_wrap.delete {
  margin-top: 16px;
  margin-left: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.28px;
  color: #121212;
}

.withdrawal_wrap {
  margin: 0 auto;
  padding-top: 88px;
  width: 626px;
}
.withdrawal_wrap .bye_img {
  width: 100%;
  height: 240px;
  position: relative;
  margin-bottom: 20px;
}
.withdrawal_wrap .bye_img:before {
  content: "";
  clear: both;
  display: inline-block;
  width: 400px;
  height: 240px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url("../img/com/img_bye.png") no-repeat center center/400px 240px;
}
.withdrawal_wrap .sorry_img {
  width: 100%;
  height: 240px;
  position: relative;
  margin-bottom: 20px;
}
.withdrawal_wrap .sorry_img:before {
  content: "";
  clear: both;
  display: inline-block;
  width: 400px;
  height: 240px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url("../img/com/img_sorry.png") no-repeat center center/400px 240px;
}
.withdrawal_wrap .bye_msg {
  text-align: center;
}
.withdrawal_wrap .bye_msg span {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: #121212;
  text-align: center;
  margin-top: 20px;
}
.withdrawal_wrap .bye_msg span span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #9013FE;
  margin-top: 0;
}
.withdrawal_wrap .bye_guide {
  width: 408px;
  padding: 28px 24px 32px;
  background: #FFF;
  border-radius: 20px;
  margin: 40px auto 28px;
}
.withdrawal_wrap .sorry_guide {
  width: 408px;
  height: 140px;
  background: #242A3C;
  border-radius: 20px;
  text-align: center;
  position: relative;
  margin: 40px auto 28px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 38px;
  letter-spacing: -0.68px;
  color: #ffd300;
  padding-top: 60px;
}
.withdrawal_wrap .sorry_guide span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: -0.32px;
}
.withdrawal_wrap .sorry_guide .title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 184px;
  height: 35px;
  padding-top: 6px;
  background: #FFF;
  text-align: center;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #242A3C;
}
.withdrawal_wrap .home {
  width: 408px;
  margin: 0 auto;
  display: block;
}