@charset "UTF-8";
/* Setting */
/* Color */
/* Font */
/* 가상 선택자 content, display 설정 */
/* Title */
.h2Type.kor, .h2Type.cha, .h2Type.eng {
  font-size: 44px;
  color: #242A3C;
  letter-spacing: -0.88px;
  line-height: 48px;
}

.h3Type.kor, .h3Type.cha, .h3Type.eng {
  font-size: 40px;
  color: #242A3C;
  letter-spacing: -0.8px;
  line-height: 48px;
}

.h4Type.kor, .h4Type.cha, .h4Type.eng {
  font-size: 26px;
  color: #242A3C;
  letter-spacing: -0.52px;
  line-height: 32px;
}

.bodytitle.p1.kor, .bodytitle.p1.cha, .bodytitle.p1.eng {
  font-size: 18px;
  color: #121212;
  letter-spacing: -0.36px;
  line-height: 24px;
}

.bodytitle.p2.kor, .bodytitle.p2.cha, .bodytitle.p2.eng {
  font-size: 16px;
  color: #121212;
  letter-spacing: -0.32px;
  line-height: 20px;
}

.bodytitle.p4.kor, .bodytitle.p4.cha, .bodytitle.p4.eng {
  font-size: 14px;
  color: #121212;
  letter-spacing: -0.28px;
  line-height: 20px;
}

.des.kor, .des.cha, .des.eng {
  font-size: 13px;
  color: #121212;
  letter-spacing: -0.26px;
  line-height: 17px;
}

/* Title */
.h2Type.eng {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.h2Type.cha {
  font-family: "M_PLUS_1p", sans-serif;
  font-weight: 800;
}
.h2Type.kor {
  font-family: "NanumSquareRound", sans-serif;
  font-weight: 800;
}

.h3Type.eng {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.h3Type.cha {
  font-family: "M_PLUS_1p", sans-serif;
  font-weight: 800;
}
.h3Type.kor {
  font-family: "NanumSquareRound", sans-serif;
  font-weight: 800;
}

.h4Type.eng {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.h4Type.cha {
  font-family: "M_PLUS_1p", sans-serif;
  font-weight: bold;
}
.h4Type.kor {
  font-family: "NanumSquareRound", sans-serif;
  font-weight: bold;
}

.bodytitle.p1.eng {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.bodytitle.p1.cha {
  font-family: "M_PLUS_1p", sans-serif;
  font-weight: 500;
}
.bodytitle.p1.kor {
  font-family: "NanumSquareRound", sans-serif;
  font-weight: bold;
}

.bodytitle.p2.eng {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.bodytitle.p2.cha {
  font-family: "M_PLUS_1p", sans-serif;
  font-weight: bold;
}
.bodytitle.p2.kor {
  font-family: "NanumSquareRound", sans-serif;
  font-weight: 800;
}

.bodytitle.p4.eng {
  font-family: "Poppins", sans-serif;
}
.bodytitle.p4.cha {
  font-family: "M_PLUS_1p", sans-serif;
}
.bodytitle.p4.kor {
  font-family: "NanumSquareRound", sans-serif;
}

.des.eng {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
.des.cha {
  font-family: "M_PLUS_1p", sans-serif;
  font-weight: normal;
}
.des.kor {
  font-family: "NanumSquareRound", sans-serif;
  font-weight: normal;
}

/* 스크롤 디자인 */
/* Placeholder */
/* Input reset Icon */
/* 말줄임 */
/* Logo Color */
/* Tooltip Arrow */
/* 나라별 국기 */
/* text border */
.common_wrap {
  margin: 0 auto;
  padding-top: 88px;
  width: 626px;
}
.common_wrap .system_img {
  width: 100%;
  height: 220px;
  position: relative;
  margin-bottom: 20px;
}
.common_wrap .system_img:before {
  content: "";
  clear: both;
  display: inline-block;
  width: 320px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url("../img/com/img_system_check.png") no-repeat center center/320px 220px;
}
.common_wrap .ooops_img {
  width: 100%;
  height: 240px;
  position: relative;
  margin-bottom: 20px;
}
.common_wrap .ooops_img:before {
  content: "";
  clear: both;
  display: inline-block;
  width: 400px;
  height: 240px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url("../img/com/img_error_page.png") no-repeat center center/400px 240px;
}
.common_wrap .server_img {
  width: 100%;
  height: 240px;
  position: relative;
  margin-bottom: 20px;
}
.common_wrap .server_img:before {
  content: "";
  clear: both;
  display: inline-block;
  width: 400px;
  height: 240px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url("../img/com/img_error_server.png") no-repeat center center/400px 240px;
}
.common_wrap .system_msg {
  text-align: center;
}
.common_wrap .system_msg span {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: #121212;
  text-align: center;
  margin-top: 20px;
}
.common_wrap .system_msg span span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #9013FE;
  margin-top: 0;
}
.common_wrap .system_box {
  width: 100%;
  border-radius: 20px;
  padding: 40px;
  background: #FFF;
  margin: 20px 0 48px;
}
.common_wrap .system_box dl {
  display: flex;
  align-items: flex-start;
}
.common_wrap .system_box dl dt span {
  display: inline-block;
  width: 80px;
  height: 32px;
  border-radius: 16px;
  background: #9013FE;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: -0.442px;
  color: #FFF;
  margin-right: 12px;
}
.common_wrap .system_box dl + dl {
  margin-top: 20px;
}
.common_wrap .system_box .system01 dd {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: -0.44px;
  color: #121212;
  vertical-align: top;
}
.common_wrap .system_box .system01 dd span {
  display: inline-block;
  margin-top: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.28px;
  color: #777777;
}
.common_wrap .system_box .system02 dd {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -0.4px;
  color: #121212;
  vertical-align: top;
}
.common_wrap .back {
  width: 200px;
  margin: 0 auto;
  display: block;
}
.common_wrap .back span:before {
  content: "";
  clear: both;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.mail_wrap01 {
  margin: 0 auto;
  padding-top: 182px;
  width: 560px;
}
.mail_wrap01 .mail_img:before {
  content: "";
  clear: both;
  display: inline-block;
  width: 260px;
  height: 220px;
  top: 0;
  left: 50%;
  transform: translateX(50%);
  background: url("../img/com/img_emoji_unsubscription.png") no-repeat center center/260px 220px;
}
.mail_wrap01 .mail_msg {
  text-align: center;
  margin-top: 20px;
}
.mail_wrap01 .mail_msg span {
  display: inline-block;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  color: #121212;
}
.mail_wrap01 .mail_box {
  margin: 20px 0;
  width: 560px;
  height: 84px;
  border-radius: 12px;
  background: #FFF;
  text-align: center;
}
.mail_wrap01 .mail_box span {
  display: inline-block;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: -0.52px;
  color: #9013FE;
}
.mail_wrap01 .guide {
  margin-bottom: 48px;
}
.mail_wrap01 .page_btn_wrap .btn {
  width: 200px;
}

.mail_wrap02 {
  margin: 0 auto;
  padding-top: 182px;
  width: 520px;
  text-align: center;
}
.mail_wrap02 .mail_img:before {
  content: "";
  clear: both;
  display: inline-block;
  width: 260px;
  height: 220px;
  top: 0;
  left: 50%;
  background: url("../img/com/img_unsubscription_complete.png") no-repeat center center/260px 220px;
}
.mail_wrap02 .mail_text {
  margin-top: 20px;
  margin-bottom: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
  color: #121212;
}
.mail_wrap02 .mail_text span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #9013FE;
}
.mail_wrap02 .page_btn_wrap .btn {
  width: 200px;
}