.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  border-radius: 8px;
}
.button-contained {
  border: 0;
}

.button-Primary {
  color: white;
  background-color: #7d0edf;
  border-color: #7d0edf;
}
.button-Secondary {
  color: white;
  background-color: #6563ff;
  border-color: #6563ff;
}

.button-Point {
  color: white;
  background-color: #ed348f;
  border-color: #ed348f;
}
.button-contained:disabled {
  background-color: #cdcdd1;
}
.button-line {
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
}
.button-Primary.button-line {
  color: #7d0edf;
}
.button-line:disabled {
  border: solid 1px #cdcdd1;
  color: #cdcdd1;
}

.button-Secondary.button-line {
  color: #6563ff;
}

.button-Point.button-line {
  color: #ed348f;
}

.button-XL {
  font-size: 20px;
  padding: 0 20px;
  height: 56px;
}
.button-L {
  font-size: 17px;
  padding: 0 18px;
  height: 52px;
}
.button-M {
  font-size: 15px;
  padding: 0 20px;
  height: 48px;
}

.button-S {
  font-size: 14px;
  padding: 0 10px;
  height: 40px;
}
